Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2022-08, with the labels that each got.

#87 Feature fix user vars
  changelogs/fragments/bugfix_agent_role.yml
  roles/agent/defaults/main.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/main.yml
Labels: bug

#89 Bugfix admin password leakage and variable usage
  changelogs/fragments/bugfix_admin_password_leak.yml
  changelogs/fragments/bugfix_agent_role.yml
  galaxy.yml
  roles/agent/defaults/main.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/main.yml
  roles/server/tasks/sites.yml
Labels: bug

#91 Update changelogs and docs.
  .github/workflows/release.yaml
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.5.1/bugfix_admin_password_leak.yml
  changelogs/archive/0.5.1/bugfix_agent_role.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_module.rst
  docs/index.rst
Labels: needs-info

#93 Bugfix agent role hostname usage and HTTP timeout for discovery
  changelogs/fragments/bugfix_agent_role.yml
  changelogs/fragments/bugfix_discovery_http_timeout.yml
  galaxy.yml
  plugins/modules/discovery.py
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/tasks/main.yml
Labels: bug

#96 Update changelogs and try to fix release action.
  .github/workflows/release.yaml
  CHANGELOG.rst
  changelogs/archive/0.5.2/bugfix_agent_role.yml
  changelogs/archive/0.5.2/bugfix_discovery_http_timeout.yml
  changelogs/changelog.yaml
Labels: bug

#107 Fix #105.
  roles/server/tasks/RedHat.yml
Labels: bug

#108 Fix ansible-lint findings.
  .github/workflows/ansible-lint.yaml
  roles/agent/tasks/RedHat.yml
Labels: bug

#88 Add task to update site
  changelogs/fragments/server_update_feature.yml
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/tasks/sites.yml
  roles/server/tasks/update-site.yml
Labels: enhancement

#113 Add site update management
  README.md
  changelogs/fragments/release_summary.yml
  changelogs/fragments/server_update_feature.yml
  galaxy.yml
  requirements.yml
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/tasks/sites.yml
  roles/server/tasks/update-site.yml
Labels: enhancement

#115 [FEATURE] Don't hardcode host attributes
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/tasks/main.yml
Labels: enhancement

#114 [FEATURE] Add tags to tasks in roles
  roles/agent/README.md
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/legacy.yml
  roles/agent/tasks/main.yml
  roles/server/README.md
  roles/server/tasks/Debian.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/main.yml
  roles/server/tasks/sites.yml
  roles/server/tasks/update-site.yml
Labels: enhancement

#121 Fix cfe support
  changelogs/fragments/agent_role.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/main.yml
Labels: bug, enhancement

#122 Bugfix agent update
  changelogs/fragments/agent_role.yml
  roles/agent/tasks/main.yml
Labels: bug, enhancement

#125 Fix agent user authentication handling
  changelogs/fragments/agent_role.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/tasks/main.yml
Labels: bug, enhancement

#124 [BUG] Fix activation module
  .github/workflows/ansible-integration-tests.yaml
  .github/workflows/ansible-sanity-tests.yaml
  plugins/modules/activation.py
Labels: bug

#118 Prepare Release 0.7.0
  .github/workflows/ansible-integration-tests.yaml
  .github/workflows/ansible-sanity-tests.yaml
  CHANGELOG.rst
  CONTRIBUTING.md
  Vagrantfile
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.6.0/bugfix_agent_role.yml
  changelogs/archive/0.6.0/release_summary.yml
  changelogs/archive/0.6.0/server_update_feature.yml
  changelogs/changelog.yaml
  changelogs/fragments/agent_role.yml
  changelogs/fragments/bugfix_activation_module.yml
  changelogs/fragments/release_summary.yml
  changelogs/fragments/server_role.yml
  docs/activation_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_module.rst
  docs/index.rst
  galaxy.yml
  plugins/modules/activation.py
  requirements.txt
  requirements.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/legacy.yml
  roles/agent/tasks/main.yml
  roles/server/README.md
  roles/server/tasks/Debian.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/main.yml
  roles/server/tasks/sites.yml
  roles/server/tasks/update-site.yml
Labels: enhancement

#100 Add capabilities to test the collection against several Checkmk versions
  tests/integration/targets/activation/tasks/main.yml
  tests/integration/targets/activation/tasks/prep.yml
  tests/integration/targets/activation/tasks/test.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/discovery/tasks/main.yml
  tests/integration/targets/discovery/tasks/prep.yml
  tests/integration/targets/discovery/tasks/test.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/tasks/main.yml
  tests/integration/targets/downtime/tasks/prep.yml
  tests/integration/targets/downtime/tasks/test.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/tasks/main.yml
  tests/integration/targets/folder/tasks/prep.yml
  tests/integration/targets/folder/tasks/test.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/tasks/main.yml
  tests/integration/targets/host/tasks/prep.yml
  tests/integration/targets/host/tasks/test.yml
  tests/integration/targets/host/vars/main.yml
Labels: enhancement

#128 Update integration tests
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.7.0/agent_role.yml
  changelogs/archive/0.7.0/bugfix_activation_module.yml
  changelogs/archive/0.7.0/release_summary.yml
  changelogs/archive/0.7.0/server_role.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_module.rst
  docs/index.rst
  tests/integration/targets/activation/tasks/main.yml
  tests/integration/targets/activation/tasks/prep.yml
  tests/integration/targets/activation/tasks/test.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/discovery/tasks/main.yml
  tests/integration/targets/discovery/tasks/prep.yml
  tests/integration/targets/discovery/tasks/test.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/tasks/main.yml
  tests/integration/targets/downtime/tasks/prep.yml
  tests/integration/targets/downtime/tasks/test.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/tasks/main.yml
  tests/integration/targets/folder/tasks/prep.yml
  tests/integration/targets/folder/tasks/test.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/tasks/main.yml
  tests/integration/targets/host/tasks/prep.yml
  tests/integration/targets/host/tasks/test.yml
  tests/integration/targets/host/vars/main.yml
Labels: enhancement

#129 Prepare forced agent installation
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/Suse.yml
Labels: enhancement

#130 Bugfix server setup file verification
  Vagrantfile
  changelogs/fragments/server_role.yml
  roles/server/defaults/main.yml
  roles/server/tasks/main.yml
  roles/server/vars/Debian.yml
Labels: bug, enhancement
