Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2022-09, with the labels that each got.

#133 Add a variable for the server port
  changelogs/fragments/agent_role.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/tasks/main.yml
  roles/agent/vars/main.yml
Labels: enhancement

#131 Prepare release 0.8.0
  Vagrantfile
  changelogs/fragments/agent_role.yml
  changelogs/fragments/modules.yml
  changelogs/fragments/server_role.yml
  galaxy.yml
  plugins/modules/activation.py
  plugins/modules/discovery.py
  plugins/modules/downtime.py
  plugins/modules/folder.py
  plugins/modules/host.py
  requirements.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/main.yml
  roles/agent/vars/main.yml
  roles/server/defaults/main.yml
  roles/server/tasks/main.yml
  roles/server/vars/Debian.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
Labels: enhancement

#126 Adjustment Preflight Check for Redhat based systems and diff approach including RedHat specific vars
  roles/server/defaults/main.yml
  roles/server/tasks/Debian.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/main.yml
  roles/server/vars/Debian.yml
  roles/server/vars/RedHat-7.yml
  roles/server/vars/RedHat-8.yml
  roles/server/vars/RedHat.yml
Labels: enhancement

#140 Improve GitHub workflows
  .github/workflows/ans-int-test-activation.yaml
  .github/workflows/ans-int-test-discovery.yaml
  .github/workflows/ans-int-test-downtime.yaml
  .github/workflows/ans-int-test-folder.yaml
  .github/workflows/ans-int-test-host.yaml
  .github/workflows/ans-int-tests-full.yaml
  .github/workflows/ans-int-tests-roles.yaml
  .github/workflows/ansible-lint.yaml
  .github/workflows/codeql.yaml
  .github/workflows/python-qa.yaml
  .github/workflows/release.yaml
Labels: bug, enhancement

#143 Only use user password for authentication when secret is not set
  roles/agent/tasks/main.yml
Labels: bug

#146 Add tasks to fix RHEL support
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/sites.yml
  roles/server/vars/RedHat.yml
Labels: enhancement

#147 Fix 99 move host
  changelogs/fragments/fix-99-move-host.yml
  plugins/modules/host.py
Labels: bug

#137 Prepare release 0.9.0
  .github/workflows/ans-int-test-activation.yaml
  .github/workflows/ans-int-test-discovery.yaml
  .github/workflows/ans-int-test-downtime.yaml
  .github/workflows/ans-int-test-folder.yaml
  .github/workflows/ans-int-test-host.yaml
  .github/workflows/ans-int-tests-full.yaml
  .github/workflows/ans-int-tests-roles.yaml
  .github/workflows/ansible-lint.yaml
  .github/workflows/codeql.yaml
  .github/workflows/python-qa.yaml
  .github/workflows/release.yaml
  .github/workflows/stale.yaml
  README.md
  changelogs/fragments/host_module.yml
  changelogs/fragments/server_role.yml
  galaxy.yml
  plugins/modules/host.py
  requirements.yml
  roles/agent/defaults/main.yml
  roles/agent/tasks/main.yml
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/main.yml
  roles/server/tasks/sites.yml
  roles/server/vars/Debian.yml
  roles/server/vars/RedHat-7.yml
  roles/server/vars/RedHat-8.yml
  roles/server/vars/RedHat.yml
  tests/integration/targets/roles/vars/main.yml
Labels: enhancement

#79 Rule module
  .github/workflows/ans-int-test-rule.yaml
  README.md
  changelogs/fragments/rule_module.yml
  galaxy.yml
  meta/runtime.yml
  playbooks/test-full.yml
  playbooks/vars/rule.yml
  plugins/modules/rule.py
  requirements.yml
  tests/integration/targets/rule/tasks/main.yml
  tests/integration/targets/rule/tasks/prep.yml
  tests/integration/targets/rule/tasks/test.yml
  tests/integration/targets/rule/vars/main.yml
Labels: enhancement, upstream

#151 Fix issue #150 - default folder
  changelogs/fragments/fix-150-default-folder.yml
  plugins/modules/host.py
Labels: bug

#152 Extend rule module integration tests
  tests/integration/targets/rule/tasks/test.yml
  tests/integration/targets/rule/vars/main.yml
Labels: enhancement

#155 Fix authentication handling of agent role.
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/main.yml
  roles/agent/vars/main.yml
Labels: bug

#149 Prepare Release 0.10.0
  .github/workflows/ans-int-test-rule.yaml
  .github/workflows/ans-int-tests-roles.yaml
  .github/workflows/molecule-role-server.yaml
  CHANGELOG.rst
  CONTRIBUTING.md
  README.md
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.9.0/host_module.yml
  changelogs/archive/0.9.0/server_role.yml
  changelogs/changelog.yaml
  changelogs/fragments/fix-150-default-folder.yml
  changelogs/fragments/rule_module.yml
  changelogs/template.yml
  docs/activation_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_module.rst
  docs/index.rst
  galaxy.yml
  meta/runtime.yml
  playbooks/test-full.yml
  playbooks/vars/rule.yml
  plugins/modules/host.py
  plugins/modules/rule.py
  requirements.txt
  requirements.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/main.yml
  roles/agent/vars/main.yml
  roles/server/handlers/main.yml
  roles/server/molecule/2.0.0/converge.yml
  roles/server/molecule/2.0.0/group_vars/all.yml
  roles/server/molecule/2.0.0/molecule.yml
  roles/server/molecule/2.0.0/verify.yml
  roles/server/molecule/2.1.0/converge.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  roles/server/molecule/2.1.0/molecule.yml
  roles/server/molecule/2.1.0/verify.yml
  roles/server/tasks/Debian.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/main.yml
  tests/integration/targets/roles/tasks/main.yml
  tests/integration/targets/roles/vars/main.yml
  tests/integration/targets/rule/tasks/main.yml
  tests/integration/targets/rule/tasks/prep.yml
  tests/integration/targets/rule/tasks/test.yml
  tests/integration/targets/rule/vars/main.yml
Labels: enhancement

#162 Update GitHub action stale
  .github/workflows/stale.yaml
Labels: enhancement

#154 Feature host groups 1
  plugins/modules/host_group.py
  tests/integration/targets/host_group/tasks/main.yml
  tests/integration/targets/host_group/tasks/prep.yml
  tests/integration/targets/host_group/tasks/test.yml
  tests/integration/targets/host_group/vars/main.yml
Labels: enhancement

#141 Add host_tag_group module.
  plugins/modules/tag_group.py
  tests/integration/targets/tag_group/tasks/main.yml
  tests/integration/targets/tag_group/tasks/prep.yml
  tests/integration/targets/tag_group/tasks/test.yml
  tests/integration/targets/tag_group/vars/main.yml
Labels: enhancement

#165 CME support for agent role
  .ansible-lint
  changelogs/fragments/agent_role.yml
  roles/agent/README.md
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/main.yml
  roles/agent/vars/main.yml
Labels: enhancement
