Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2022-12, with the labels that each got.

#197 Update Checkmk versions in tests
  roles/server/molecule/2.0.0/group_vars/all.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
Labels: enhancement

#199 Add support for new password hashing algorithm to agent role
  changelogs/fragments/new-passwd-hashing.yml
  roles/server/defaults/main.yml
  roles/server/tasks/sites.yml
Labels: enhancement

#201 Add support for new password hashing algorithm to agent role
  changelogs/fragments/new-passwd-hashing.yml
  roles/server/defaults/main.yml
  roles/server/tasks/sites.yml
Labels: enhancement

#178 Feature service groups
  .github/workflows/ans-int-test-service_group.yaml
  changelogs/fragments/service_group_module.yml
  meta/runtime.yml
  playbooks/demo.yml
  plugins/modules/service_group.py
  tests/integration/targets/service_group/tasks/main.yml
  tests/integration/targets/service_group/tasks/prep.yml
  tests/integration/targets/service_group/tasks/test.yml
  tests/integration/targets/service_group/vars/main.yml
Labels: enhancement

#204 Release 0.14.0
  CHANGELOG.rst
  README.md
  SECURITY.md
  SUPPORT.md
  changelogs/archive/0.13.0/new-passwd-hashing.yml
  changelogs/changelog.yaml
  galaxy.yml
  plugins/modules/host_group.py
  plugins/modules/service_group.py
  requirements.yml
  tests/integration/targets/host_group/tasks/test.yml
Labels: bug, enhancement

#212 Bump Checkmk versions and update documentation
  CHANGELOG.rst
  CONTRIBUTING.md
  README.md
  SECURITY.md
  SUPPORT.md
  changelogs/archive/0.14.0/host_group.yml
  changelogs/changelog.yaml
  roles/server/molecule/2.0.0/group_vars/all.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
Labels: documentation, enhancement
