Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2023-02, with the labels that each got.

#245 Try fixing molecule by using a Ubuntu 20 runner
  .github/workflows/molecule-role-server.yaml
Labels: enhancement, role:server

#248 Fix become for service discovery in agent role
  roles/agent/handlers/main.yml
  roles/agent/tasks/main.yml
Labels: bug, role:agent

#244 module downtimes: better parameter handling
  changelogs/fragments/downtime.yml
  plugins/modules/downtime.py
  tests/integration/targets/downtime/tasks/test.yml
Labels: bug, module:downtime

#251 Release 0.16.2
  .github/workflows/ansible-lint.yaml
  .github/workflows/molecule-role-server.yaml
  .github/workflows/release.yaml
  SUPPORT.md
  changelogs/fragments/agent.yml
  changelogs/fragments/downtime.yml
  changelogs/fragments/summary.yml
  galaxy.yml
  plugins/modules/downtime.py
  requirements.yml
  roles/agent/tasks/main.yml
  roles/server/molecule/2.0.0/group_vars/all.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/tasks/test.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
Labels: bug, enhancement

#256 Update docs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.16.2/agent.yml
  changelogs/archive/0.16.2/downtime.yml
  changelogs/archive/0.16.2/summary.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
Labels: documentation

#241 Use safe_eval instead of temporary rules for comparison
  plugins/modules/rule.py
  tests/integration/targets/rule/vars/main.yml
Labels: enhancement, module:rule

#242 Added configuration setting for force_foreign_changes
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/handlers/main.yml
Labels: needs-info, role:agent

#259 Fix galaxy import errors
  plugins/modules/contact_group.py
  plugins/modules/discovery.py
  plugins/modules/downtime.py
  plugins/modules/host_group.py
  plugins/modules/rule.py
  plugins/modules/service_group.py
Labels: enhancement

#249 change 'is false' to '== false'
  roles/server/tasks/update-site.yml
Labels: bug, role:server

#257 Release 0.17.0
  changelogs/changelog.yaml
  changelogs/fragments/agent.yml
  changelogs/fragments/release.yml
  changelogs/fragments/rule.yml
  changelogs/template.yml
  galaxy.yml
  plugins/modules/contact_group.py
  plugins/modules/discovery.py
  plugins/modules/downtime.py
  plugins/modules/host_group.py
  plugins/modules/rule.py
  plugins/modules/service_group.py
  requirements.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/handlers/main.yml
  tests/integration/targets/rule/vars/main.yml
Labels: enhancement

#266 [Auto] Update changelogs and docs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.17.0/agent.yml
  changelogs/archive/0.17.0/release.yml
  changelogs/archive/0.17.0/rule.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
Labels: documentation

#260 add cloud edition to collection
  roles/server/README.md
  roles/server/vars/main.yml
Labels: enhancement, role:server, role:agent

#267 Release 0.17.1
  .github/workflows/molecule-role-server.yaml
  Vagrantfile
  galaxy.yml
  requirements.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/server/README.md
  roles/server/molecule/2.0.0/group_vars/all.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  roles/server/vars/main.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
Labels: documentation, enhancement, role:server

#270 Devel
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
Labels: documentation

#271 Fix linting findings.
  .github/workflows/ansible-lint.yaml
  CONTRIBUTING.md
  README.md
  playbooks/demo.yml
  roles/agent/handlers/main.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/main.yml
  roles/server/meta/main.yml
  roles/server/molecule/2.0.0/converge.yml
  roles/server/molecule/2.1.0/converge.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/main.yml
  roles/server/tasks/sites.yml
  roles/server/tasks/update-site.yml
  tests/integration/targets/activation/tasks/prep.yml
  tests/integration/targets/activation/tasks/test.yml
  tests/integration/targets/contact_group/tasks/prep.yml
  tests/integration/targets/contact_group/tasks/test.yml
  tests/integration/targets/discovery/tasks/prep.yml
  tests/integration/targets/discovery/tasks/test.yml
  tests/integration/targets/downtime/tasks/prep.yml
  tests/integration/targets/downtime/tasks/test.yml
  tests/integration/targets/folder/tasks/prep.yml
  tests/integration/targets/folder/tasks/test.yml
  tests/integration/targets/host/tasks/prep.yml
  tests/integration/targets/host/tasks/test.yml
  tests/integration/targets/host_group/tasks/prep.yml
  tests/integration/targets/host_group/tasks/test.yml
  tests/integration/targets/rule/tasks/prep.yml
  tests/integration/targets/rule/tasks/test.yml
  tests/integration/targets/service_group/tasks/prep.yml
  tests/integration/targets/service_group/tasks/test.yml
  tests/integration/targets/tag_group/tasks/prep.yml
Labels: bug, role:server, role:agent

#272 Release 0.18.0
  .github/workflows/ansible-lint.yaml
  CONTRIBUTING.md
  README.md
Labels: enhancement

#258 Feature rule check mode
  plugins/modules/rule.py
Labels: enhancement, module:rule

#275 Fix linting findings.
  playbooks/demo.yml
  roles/agent/handlers/main.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/main.yml
  roles/server/meta/main.yml
  roles/server/molecule/2.0.0/converge.yml
  roles/server/molecule/2.1.0/converge.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/main.yml
  roles/server/tasks/sites.yml
  roles/server/tasks/update-site.yml
  tests/integration/targets/activation/tasks/prep.yml
  tests/integration/targets/activation/tasks/test.yml
  tests/integration/targets/contact_group/tasks/prep.yml
  tests/integration/targets/contact_group/tasks/test.yml
  tests/integration/targets/discovery/tasks/prep.yml
  tests/integration/targets/discovery/tasks/test.yml
  tests/integration/targets/downtime/tasks/prep.yml
  tests/integration/targets/downtime/tasks/test.yml
  tests/integration/targets/folder/tasks/prep.yml
  tests/integration/targets/folder/tasks/test.yml
  tests/integration/targets/host/tasks/prep.yml
  tests/integration/targets/host/tasks/test.yml
  tests/integration/targets/host_group/tasks/prep.yml
  tests/integration/targets/host_group/tasks/test.yml
  tests/integration/targets/rule/tasks/prep.yml
  tests/integration/targets/rule/tasks/test.yml
  tests/integration/targets/service_group/tasks/prep.yml
  tests/integration/targets/service_group/tasks/test.yml
  tests/integration/targets/tag_group/tasks/prep.yml
Labels: bug, role:server, role:agent
