Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2023-11, with the labels that each got.

#456 feat: add no log capability for agent and server roles
  changelogs/fragments/no_log.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/Win32NT.yml
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/tasks/sites.yml
Labels: role:server, role:agent, release:3.4.0

#459 Add support for omd config
  changelogs/fragments/server-omd-config.yml
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/molecule/2.0.0/group_vars/all.yml
  roles/server/molecule/2.0.0/verify.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  roles/server/molecule/2.1.0/verify.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  roles/server/molecule/2.2.0/verify.yml
  roles/server/tasks/configure-site.yml
  roles/server/tasks/sites.yml
Labels: enhancement, role:server, release:3.4.0

#440 Fix agent role for push agents
  roles/agent/defaults/main.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/main.yml
Labels: bug, enhancement, release:3.4.0

#427 Add "customer" parameter in module and request
  changelogs/fragments/cme_support.yml
  plugins/modules/contact_group.py
  plugins/modules/host_group.py
  plugins/modules/password.py
  plugins/modules/service_group.py
  plugins/modules/user.py
  tests/integration/targets/host_group/tasks/test.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/password/tasks/test.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/service_group/tasks/test.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/tasks/test.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/user/tasks/test.yml
  tests/integration/targets/user/vars/main.yml
Labels: module:contact_group, module:host_group, module:service_group, module:user, module:password

#471 Update changelogs and docs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/3.4.0/agent_push.yml
  changelogs/archive/3.4.0/cme_support.yml
  changelogs/archive/3.4.0/no_log.yml
  changelogs/archive/3.4.0/release_summary.yml
  changelogs/archive/3.4.0/server-omd-config.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation

#469 Bump Ansible and Python versions for GitHub Actions
  .github/workflows/ans-int-test-activation.yaml
  .github/workflows/ans-int-test-bakery.yaml
  .github/workflows/ans-int-test-contact_group.yaml
  .github/workflows/ans-int-test-discovery.yaml
  .github/workflows/ans-int-test-downtime.yaml
  .github/workflows/ans-int-test-folder.yaml
  .github/workflows/ans-int-test-host.yaml
  .github/workflows/ans-int-test-host_group.yaml
  .github/workflows/ans-int-test-lkp-folder.yaml
  .github/workflows/ans-int-test-lkp-folders.yaml
  .github/workflows/ans-int-test-lkp-host.yaml
  .github/workflows/ans-int-test-lkp-hosts.yaml
  .github/workflows/ans-int-test-lkp-version.yaml
  .github/workflows/ans-int-test-password.yaml
  .github/workflows/ans-int-test-rule.yaml
  .github/workflows/ans-int-test-service_group.yaml
  .github/workflows/ans-int-test-tag_group.yaml
  .github/workflows/ans-int-test-timeperiod.yaml
  .github/workflows/ans-int-test-user.yaml
  .github/workflows/ansible-lint.yaml
  .github/workflows/ansible-sanity-tests.yaml
  .github/workflows/ansible-unit-tests.yaml
  .github/workflows/release.yaml
Labels: enhancement

#413 Reorganize agent role
  playbooks/usecases/remote-registration.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/handlers/main.yml
  roles/agent/molecule/2.0.0/group_vars/all.yml
  roles/agent/molecule/2.0.0/verify.yml
  roles/agent/molecule/2.1.0/group_vars/all.yml
  roles/agent/molecule/2.1.0/verify.yml
  roles/agent/molecule/2.2.0/group_vars/all.yml
  roles/agent/molecule/2.2.0/verify.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/Linux-files.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/Win32NT-files.yml
  roles/agent/tasks/Win32NT.yml
  roles/agent/tasks/Windows.yml
  roles/agent/tasks/legacy.yml
  roles/agent/tasks/main.yml
  roles/agent/vars/main.yml
Labels: role:agent, release:4.0.0
