Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2023-05, with the labels that each got.

#326 [BUG] Activate changes handler fails with self signed certificate
  roles/agent/handlers/main.yml
Labels: bug, role:agent

#327 Add CLA github action and adapt contributing
  .github/workflows/cla.yml
  CONTRIBUTING.md
Labels: release:0.21.0

#308 Initial commit of bakery module
  plugins/modules/bakery.py
Labels: enhancement, release:0.21.0, module:bakery

#331 Bugfix release action.
  .github/workflows/cla.yaml
  .github/workflows/release.yaml
Labels: bug

#298 introduce utils and types in module_utils
  plugins/module_utils/__init__.py
  plugins/module_utils/api.py
  plugins/module_utils/types.py
  plugins/module_utils/utils.py
  plugins/modules/activation.py
Labels: enhancement, release:0.22.0

#334 Added some aliasses into the .bashrc of the vagrant user
  Vagrantfile
Labels: enhancement, release:0.22.0

#337 Update changelogs and docs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.22.0/playbooks.yml
  changelogs/archive/0.22.0/utils.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/user_module.rst
Labels: documentation

#341 Fix Galaxy import errors
  plugins/modules/tag_group.py
Labels: enhancement

#318 module:folder, Add update_attributes, remove_attributes and ansible check_mode; Fix #289
  plugins/modules/folder.py
  tests/integration/targets/folder/tasks/test.yml
  tests/integration/targets/folder/vars/main.yml
Labels: enhancement, module:folder, release:0.23.0
