Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2023-08, with the labels that each got.

#394 Revert Python version bump for integration tests.
  .github/workflows/ans-int-test-activation.yaml
  .github/workflows/ans-int-test-bakery.yaml
  .github/workflows/ans-int-test-contact_group.yaml
  .github/workflows/ans-int-test-discovery.yaml
  .github/workflows/ans-int-test-downtime.yaml
  .github/workflows/ans-int-test-folder.yaml
  .github/workflows/ans-int-test-host.yaml
  .github/workflows/ans-int-test-host_group.yaml
  .github/workflows/ans-int-test-password.yaml
  .github/workflows/ans-int-test-rule.yaml
  .github/workflows/ans-int-test-service_group.yaml
  .github/workflows/ans-int-test-tag_group.yaml
  .github/workflows/ans-int-test-user.yaml
  .github/workflows/ans-int-tests-full.yaml
Labels: bug

#395 Fix server url
  roles/agent/handlers/main.yml
  roles/server/README.md
Labels: bug, role:server, role:agent

#396 Release 2.4.1
  .github/workflows/molecule-role-agent.yaml
  .github/workflows/molecule-role-server.yaml
  SUPPORT.md
  Vagrantfile
  changelogs/fragments/agent.yml
  galaxy.yml
  requirements.yml
Labels: bug, enhancement, role:server, role:agent

#398 Update changelogs and docs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/2.4.1/agent.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/user_module.rst
Labels: documentation

#401 Add auto labeller
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feedback.md
  .github/labels-issues.yml
  .github/labels-prs.yml
  .github/workflows/labeler.yaml
Labels: enhancement

#402 Improve molecule tests verification
  Vagrantfile
  playbooks/usecases/remote-registration.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/molecule/2.0.0/group_vars/all.yml
  roles/agent/molecule/2.0.0/molecule.yml
  roles/agent/molecule/2.1.0/group_vars/all.yml
  roles/agent/molecule/2.2.0/group_vars/all.yml
  roles/agent/tasks/main.yml
  roles/server/README.md
  roles/server/molecule/2.0.0/group_vars/all.yml
  roles/server/molecule/2.0.0/molecule.yml
  roles/server/molecule/2.0.0/verify.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  roles/server/molecule/2.1.0/verify.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  roles/server/molecule/2.2.0/verify.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/bakery/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Labels: enhancement, role:server, role:agent, release:2.5.0

#407 Fix integration tests for enterprise editions
  plugins/modules/activation.py
  tests/integration/targets/activation/tasks/main.yml
  tests/integration/targets/activation/tasks/prep.yml
  tests/integration/targets/bakery/tasks/main.yml
  tests/integration/targets/bakery/tasks/prep.yml
  tests/integration/targets/contact_group/tasks/main.yml
  tests/integration/targets/contact_group/tasks/prep.yml
  tests/integration/targets/discovery/tasks/main.yml
  tests/integration/targets/discovery/tasks/prep.yml
  tests/integration/targets/downtime/tasks/main.yml
  tests/integration/targets/downtime/tasks/prep.yml
  tests/integration/targets/folder/tasks/main.yml
  tests/integration/targets/folder/tasks/prep.yml
  tests/integration/targets/host/tasks/main.yml
  tests/integration/targets/host/tasks/prep.yml
  tests/integration/targets/host_group/tasks/main.yml
  tests/integration/targets/host_group/tasks/prep.yml
  tests/integration/targets/password/tasks/main.yml
  tests/integration/targets/password/tasks/prep.yml
  tests/integration/targets/rule/tasks/main.yml
  tests/integration/targets/rule/tasks/prep.yml
  tests/integration/targets/service_group/tasks/main.yml
  tests/integration/targets/service_group/tasks/prep.yml
  tests/integration/targets/tag_group/tasks/main.yml
  tests/integration/targets/tag_group/tasks/prep.yml
  tests/integration/targets/user/tasks/main.yml
  tests/integration/targets/user/tasks/prep.yml
Labels: module:activation

#408 Fix module folder for future checkmk releases
  plugins/modules/folder.py
Labels: module:folder

#358 Remove deprecated module args
  plugins/modules/host.py
  plugins/modules/host_group.py
  plugins/modules/rule.py
Labels: enhancement, module:host_group, module:host, module:rule, release:3.0.0

#406 Add proper retry mechanics.
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/Windows.yml
  roles/agent/tasks/main.yml
Labels: release:3.1.0

#156 Feature agent windows support
  .gitattributes
  CODEOWNERS
  CONTRIBUTING.md
  Vagrantfile
  changelogs/fragments/windows.yml
  galaxy.yml
  playbooks/hosts
  requirements.txt
  roles/agent/README.md
  roles/agent/meta/main.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/Win32NT.yml
  roles/agent/tasks/Windows.yml
  roles/agent/tasks/legacy.yml
  roles/agent/tasks/main.yml
  roles/agent/vars/Windows.yml
Labels: enhancement, help wanted, role:agent, never-stale, release:3.1.0

#415 Add a Lookup Plugin to get the Checkmk Version of a Server
  changelogs/fragments/lookup.yml
  playbooks/demo/full.yml
  playbooks/demo/lookup.yml
  plugins/lookup/version.py
Labels: enhancement, release:3.1.0

#416 Bugfix remote registration.
  roles/agent/tasks/Linux.yml
Labels: bug, role:agent

#411 Release 3.1.0
  .gitattributes
  .github/labels-prs.yml
  .github/workflows/label-issues.yaml
  .github/workflows/label-pulls.yaml
  .github/workflows/molecule-role-agent.yaml
  .github/workflows/molecule-role-server.yaml
  CODEOWNERS
  CONTRIBUTING.md
  SUPPORT.md
  Vagrantfile
  changelogs/fragments/discovery.yml
  changelogs/fragments/lookup.yml
  changelogs/fragments/release_summary.yml
  changelogs/fragments/windows.yml
  galaxy.yml
  playbooks/demo/full.yml
  playbooks/demo/lookup.yml
  playbooks/hosts
  playbooks/usecases/remote-registration.yml
  plugins/lookup/version.py
  plugins/modules/discovery.py
  requirements.txt
  roles/agent/README.md
  roles/agent/meta/main.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/Win32NT.yml
  roles/agent/tasks/Windows.yml
  roles/agent/tasks/legacy.yml
  roles/agent/tasks/main.yml
  roles/agent/vars/Windows.yml
  tests/integration/targets/bakery/files/agent_signature_keys.mk
  tests/integration/targets/discovery/tasks/test.yml
Labels: role:agent, module:discovery, release:3.1.0

#412 Simplify and bugfix agent role
  changelogs/fragments/agent.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/Win32NT.yml
  roles/agent/tasks/Windows.yml
  roles/agent/tasks/main.yml
  roles/agent/vars/main.yml
Labels: release:3.2.0

#421 Add integration tests for lookup plugin 'version'
  .github/workflows/ans-int-test-lkp-version.yaml
  plugins/lookup/version.py
  tests/integration/targets/lookup_version/tasks/main.yml
  tests/integration/targets/lookup_version/tasks/prep.yml
  tests/integration/targets/lookup_version/tasks/test.yml
  tests/integration/targets/lookup_version/vars/main.yml
Labels: release:3.2.0, lookup:version

#382 Add support for downloading folder-based agents
  changelogs/fragments/agent.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/Win32NT.yml
  roles/agent/tasks/Windows.yml
  roles/agent/tasks/main.yml
  roles/agent/vars/main.yml
Labels: enhancement, release:3.2.0

#423 [BUG] Re-add port to handler
  roles/agent/handlers/main.yml
Labels: release:3.2.0

#430 Bugfix GitHub Actions
  .github/labels-issues.yml
  .github/labels-prs.yml
  .github/workflows/release.yaml
Labels: bug

#432 Docs and Changelog
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/3.2.0/agent.yml
  changelogs/archive/3.2.0/server.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation
