Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2023-06, with the labels that each got.

#340 Release 0.23.0
  .github/workflows/ans-int-test-activation.yaml
  .github/workflows/ans-int-test-contact_group.yaml
  .github/workflows/ans-int-test-discovery.yaml
  .github/workflows/ans-int-test-downtime.yaml
  .github/workflows/ans-int-test-folder.yaml
  .github/workflows/ans-int-test-host.yaml
  .github/workflows/ans-int-test-host_group.yaml
  .github/workflows/ans-int-test-rule.yaml
  .github/workflows/ans-int-test-service_group.yaml
  .github/workflows/ans-int-test-tag_group.yaml
  .github/workflows/ans-int-test-user.yaml
  .github/workflows/ans-int-tests-full.yaml
  .github/workflows/ansible-sanity-tests.yaml
  .github/workflows/stale.yaml
  CONTRIBUTING.md
  SUPPORT.md
  ansible.cfg
  changelogs/fragments/folder.yml
  changelogs/fragments/tag_group.yml
  galaxy.yml
  playbooks/demo/groups.yml
  playbooks/demo/rules.yml
  plugins/modules/folder.py
  plugins/modules/tag_group.py
  requirements.yml
  scripts/release.sh
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/tasks/test.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/tasks/test.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Labels: bug, enhancement

#352 Update docs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.23.0/folder.yml
  changelogs/archive/0.23.0/tag_group.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/user_module.rst
Labels: documentation

#353 Last release before renaming
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feedback.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  SUPPORT.md
  changelogs/fragments/renaming_preparation.yml
  docs/STRUCTURE.md
  docs/TRIBE_DOCS.md
  galaxy.yml
  meta/runtime.yml
  requirements.yml
  tests/integration/targets/rule/vars/main.yml
Labels: enhancement

#346 Rename collection
  .github/workflows/ans-int-test-activation.yaml
  .github/workflows/ans-int-test-contact_group.yaml
  .github/workflows/ans-int-test-discovery.yaml
  .github/workflows/ans-int-test-downtime.yaml
  .github/workflows/ans-int-test-folder.yaml
  .github/workflows/ans-int-test-host.yaml
  .github/workflows/ans-int-test-host_group.yaml
  .github/workflows/ans-int-test-rule.yaml
  .github/workflows/ans-int-test-service_group.yaml
  .github/workflows/ans-int-test-tag_group.yaml
  .github/workflows/ans-int-test-user.yaml
  .github/workflows/ans-int-tests-full.yaml
  .github/workflows/ansible-lint.yaml
  .github/workflows/ansible-sanity-tests.yaml
  .github/workflows/ansible-unit-tests.yaml
  .github/workflows/molecule-role-agent.yaml
  .github/workflows/molecule-role-server.yaml
  .github/workflows/release.yaml
  .gitignore
  CODEOWNERS
  CODE_OF_CONDUCT.md
  README.md
  Vagrantfile
  changelogs/config.yaml
  galaxy.yml
  playbooks/vars/config.yml.example
  plugins/module_utils/api.py
  plugins/modules/activation.py
  plugins/modules/bakery.py
  plugins/modules/contact_group.py
  plugins/modules/discovery.py
  plugins/modules/downtime.py
  plugins/modules/folder.py
  plugins/modules/service_group.py
  plugins/modules/tag_group.py
  plugins/modules/user.py
  roles/agent/README.md
  roles/agent/handlers/main.yml
  roles/agent/meta/main.yml
  roles/agent/tasks/main.yml
  roles/server/README.md
  roles/server/meta/main.yml
Labels: enhancement

#339 fix #338 downtime timezone removed when using end_after
  .github/workflows/release.yaml
  plugins/modules/downtime.py
Labels: bug, module:downtime, release:2.1.0

#347 Fixed integration tests and added 2.2 compatibility
  plugins/modules/contact_group.py
  plugins/modules/host_group.py
  plugins/modules/service_group.py
  tests/integration/targets/activation/tasks/main.yml
  tests/integration/targets/activation/tasks/prep.yml
  tests/integration/targets/contact_group/tasks/main.yml
  tests/integration/targets/contact_group/tasks/prep.yml
  tests/integration/targets/discovery/tasks/main.yml
  tests/integration/targets/discovery/tasks/prep.yml
  tests/integration/targets/downtime/tasks/main.yml
  tests/integration/targets/downtime/tasks/prep.yml
  tests/integration/targets/downtime/tasks/test.yml
  tests/integration/targets/folder/tasks/prep.yml
  tests/integration/targets/host/tasks/prep.yml
  tests/integration/targets/host_group/tasks/main.yml
  tests/integration/targets/host_group/tasks/prep.yml
  tests/integration/targets/rule/tasks/prep.yml
  tests/integration/targets/service_group/tasks/prep.yml
  tests/integration/targets/tag_group/tasks/prep.yml
  tests/integration/targets/user/tasks/prep.yml
Labels: bug, module:contact_group, module:host_group, module:service_group, release:2.1.0

#360 Release 2.1.0
  SUPPORT.md
  Vagrantfile
  changelogs/fragments/activation.yml
  changelogs/fragments/discovery.yml
  changelogs/fragments/downtime.yml
  changelogs/fragments/modules.yml
  changelogs/fragments/tests.yml
  galaxy.yml
  plugins/module_utils/api.py
  plugins/modules/bakery.py
  plugins/modules/contact_group.py
  plugins/modules/discovery.py
  plugins/modules/downtime.py
  plugins/modules/host_group.py
  plugins/modules/service_group.py
  requirements.yml
  scripts/release.sh
  tests/integration/targets/activation/tasks/main.yml
  tests/integration/targets/activation/tasks/prep.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/contact_group/tasks/main.yml
  tests/integration/targets/contact_group/tasks/prep.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/tasks/main.yml
  tests/integration/targets/discovery/tasks/prep.yml
  tests/integration/targets/discovery/tasks/test.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/tasks/main.yml
  tests/integration/targets/downtime/tasks/prep.yml
  tests/integration/targets/downtime/tasks/test.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/tasks/prep.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/tasks/prep.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/tasks/main.yml
  tests/integration/targets/host_group/tasks/prep.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/rule/tasks/prep.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/tasks/prep.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/tasks/prep.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/user/tasks/prep.yml
  tests/integration/targets/user/vars/main.yml
Labels: bug, enhancement, module:contact_group, module:discovery, module:downtime, module:host_group, module:service_group, module:bakery, release:2.1.0

#362 Update changelogs and docs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/2.1.0/activation.yml
  changelogs/archive/2.1.0/discovery.yml
  changelogs/archive/2.1.0/downtime.yml
  changelogs/archive/2.1.0/modules.yml
  changelogs/archive/2.1.0/tests.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/user_module.rst
Labels: documentation

#364 Downtime module - The comment has a default value now
  changelogs/fragments/downtime.yml
  plugins/modules/downtime.py
  tests/integration/targets/downtime/tasks/test.yml
Labels: bug, module:downtime, release:2.2.0

#363 Update AlmaLinux and Rocky support for the roles
  .github/workflows/molecule-role-agent.yaml
  .github/workflows/molecule-role-server.yaml
  requirements.txt
  roles/agent/defaults/main.yml
  roles/agent/molecule/2.0.0/group_vars/all.yml
  roles/agent/molecule/2.0.0/molecule.yml
  roles/agent/molecule/2.1.0/group_vars/all.yml
  roles/agent/molecule/2.1.0/molecule.yml
  roles/agent/molecule/2.2.0/group_vars/all.yml
  roles/agent/molecule/2.2.0/molecule.yml
  roles/server/defaults/main.yml
  roles/server/molecule/2.0.0/group_vars/all.yml
  roles/server/molecule/2.0.0/molecule.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  roles/server/molecule/2.1.0/molecule.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  roles/server/molecule/2.2.0/molecule.yml
Labels: enhancement, role:server, role:agent, release:2.2.0

#368 Moved If-Match-Header to activation-module
  plugins/module_utils/api.py
  plugins/modules/activation.py
Labels: enhancement, module:activation, release:2.2.0

#370 Release 2.2.0
  .github/workflows/molecule-role-agent.yaml
  .github/workflows/molecule-role-server.yaml
  SUPPORT.md
  changelogs/fragments/activation.yml
  changelogs/fragments/downtime.yml
  changelogs/fragments/roles.yml
  changelogs/fragments/summary.yml
  galaxy.yml
  plugins/module_utils/api.py
  plugins/modules/activation.py
  plugins/modules/downtime.py
  requirements.txt
  requirements.yml
  roles/agent/defaults/main.yml
  roles/agent/molecule/2.0.0/group_vars/all.yml
  roles/agent/molecule/2.0.0/molecule.yml
  roles/agent/molecule/2.1.0/group_vars/all.yml
  roles/agent/molecule/2.1.0/molecule.yml
  roles/agent/molecule/2.2.0/group_vars/all.yml
  roles/agent/molecule/2.2.0/molecule.yml
  roles/server/defaults/main.yml
  roles/server/molecule/2.0.0/group_vars/all.yml
  roles/server/molecule/2.0.0/molecule.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  roles/server/molecule/2.1.0/molecule.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  roles/server/molecule/2.2.0/molecule.yml
  tests/integration/targets/downtime/tasks/test.yml
Labels: bug, enhancement, role:server, role:agent, module:activation, module:downtime, release:2.2.0

#376 Add support for RHEL and CentOS 9
  changelogs/fragments/server.yml
  roles/server/defaults/main.yml
Labels: enhancement, role:server, release:2.3.0

#374 New passwords-module
  .github/workflows/ans-int-test-passwords.yaml
  docs/passwords_module.rst
  plugins/modules/passwords.py
  tests/integration/targets/passwords/tasks/main.yml
  tests/integration/targets/passwords/tasks/prep.yml
  tests/integration/targets/passwords/tasks/test.yml
  tests/integration/targets/passwords/vars/main.yml
Labels: enhancement, module:passwords, release:2.3.0

#369 Feature bulk_discovery module
  plugins/module_utils/api.py
  plugins/modules/discovery.py
  tests/integration/targets/discovery/tasks/test.yml
  tests/integration/targets/discovery/vars/main.yml
Labels: enhancement, module:discovery, release:2.3.0
