Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2023-10, with the labels that each got.

#426 New time period module
  changelogs/fragments/timeperiod.yml
  plugins/modules/timeperiod.py
  tests/integration/targets/timeperiod/tasks/main.yml
  tests/integration/targets/timeperiod/tasks/prep.yml
  tests/integration/targets/timeperiod/tasks/test.yml
  tests/integration/targets/timeperiod/vars/main.yml
Labels: enhancement, release:3.3.0, module:timeperiod

#447 Support 'checkmk_agent_configure_firewall' on Debian
  roles/agent/README.md
  roles/agent/tasks/Debian.yml
Labels: role:agent, release:3.3.0

#443 Version comparison
  changelogs/fragments/version_utils.yml
  plugins/module_utils/api.py
  plugins/module_utils/version.py
  plugins/modules/discovery.py
Labels: enhancement, module:discovery, release:3.3.0

#399 Allow omitting the admin password for site management
  changelogs/fragments/admin_pw.yml
  roles/server/defaults/main.yml
  roles/server/handlers/main.yml
  roles/server/tasks/main.yml
  roles/server/tasks/sites.yml
Labels: enhancement, role:server, release:3.3.0

#454 Fix yamllint issues.
  playbooks/demo/lookup.yml
Labels: enhancement

#455 Fix sanity
  plugins/modules/folder.py
Labels: module:folder

#458 Completed the timeperiod-module with tests
  .github/labels-issues.yml
  .github/labels-prs.yml
  .github/workflows/ans-int-test-timeperiod.yaml
  plugins/modules/timeperiod.py
  tests/integration/targets/timeperiod/vars/main.yml
Labels: enhancement, module:timeperiod
