Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2023-01, with the labels that each got.

#213 Make module names more consistent using aliases.
  changelogs/fragments/module_options.yml
  playbooks/demo.yml
  playbooks/hosts
  plugins/modules/folder.py
  plugins/modules/host.py
  tests/integration/targets/folder/tasks/test.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/tasks/test.yml
Labels: enhancement

#216 Bugfix host specific agent download
  changelogs/fragments/agent_role.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
Labels: bug, role:agent

#218 Release 0.15.0
  .github/workflows/stale.yaml
  Vagrantfile
  changelogs/fragments/agent_role.yml
  changelogs/fragments/module_options.yml
  changelogs/fragments/playbooks.yml
  galaxy.yml
  playbooks/demo.yml
  playbooks/downtime_demo.yml
  playbooks/hosts
  playbooks/test-full.yml
  playbooks/test-user.yml
  playbooks/vars/config.yml.example
  playbooks/vars/rule.yml
  playbooks/vars/users.yml
  plugins/modules/downtime.py
  plugins/modules/folder.py
  plugins/modules/host.py
  requirements.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/server/defaults/main.yml
  roles/server/molecule/2.0.0/verify.yml
  roles/server/molecule/2.1.0/verify.yml
  roles/server/tasks/RedHat.yml
  tests/integration/targets/folder/tasks/test.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/tasks/test.yml
Labels: bug, enhancement, dependencies, role:agent, module:folder, module:host

#221 Update Docs and Changelogs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.15.0/agent_role.yml
  changelogs/archive/0.15.0/module_options.yml
  changelogs/archive/0.15.0/playbooks.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
Labels: documentation

#224 Bugfix rule module folder handling
  changelogs/fragments/bugfix_rule_module.yml
  plugins/modules/rule.py
Labels: bug, module:rule

#208 allow to specify the position of created rules
  plugins/modules/rule.py
Labels: enhancement

#229 Rename SLES VM
  Vagrantfile
Labels: bug

#228 Fix rule model comparison
  changelogs/fragments/bugfix_rule_module_2.yml
  changelogs/fragments/rule_module.yml
  plugins/modules/rule.py
  tests/integration/targets/rule/vars/main.yml
Labels: bug, module:rule

#222 Update python requirements.
  Vagrantfile
  requirements.txt
Labels: enhancement, dependencies

#223 Enable agent registration on remote sites
  playbooks/usecases/remote-registration.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/handlers/main.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/main.yml
Labels: enhancement, role:agent

#226 Release 0.16.0
  .github/workflows/molecule-role-server.yaml
  SUPPORT.md
  Vagrantfile
  changelogs/fragments/agent.yml
  changelogs/fragments/bugfix_rule_module.yml
  changelogs/fragments/playbooks.yml
  changelogs/fragments/rule_module.yml
  galaxy.yml
  playbooks/README.md
  playbooks/usecases/remote-registration.yml
  plugins/modules/rule.py
  requirements.txt
  requirements.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/handlers/main.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/main.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
Labels: bug, enhancement, role:agent, module:rule

#236 Update docs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.16.0/agent.yml
  changelogs/archive/0.16.0/bugfix_rule_module.yml
  changelogs/archive/0.16.0/playbooks.yml
  changelogs/archive/0.16.0/rule_module.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/environment_variables.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
Labels: documentation

#237 Fix password for activation
  roles/agent/handlers/main.yml
Labels: bug

#238 Bugfix release 0.16.1
  SUPPORT.md
  changelogs/fragments/agent.yml
  galaxy.yml
  requirements.yml
Labels: bug

#240 Update docs and changelog.
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.16.1/agent.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
Labels: documentation
