Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2023-12, with the labels that each got.

#475 Added errorhandling to lookup API
  plugins/lookup/folder.py
  plugins/lookup/folders.py
  plugins/lookup/host.py
  plugins/lookup/hosts.py
  plugins/lookup/version.py
  plugins/module_utils/lookup_api.py
Labels: enhancement

#484 Release 4.0.0 Addendum
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  changelogs/fragments/activation.yml
  changelogs/fragments/discovery.yml
  changelogs/fragments/lookups.yml
  playbooks/demo/lookup.yml
  plugins/modules/discovery.py
  roles/server/defaults/main.yml
  roles/server/molecule/2.0.0/group_vars/all.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  roles/server/tasks/sites.yml
  tests/integration/targets/discovery/tasks/test.yml
  tests/integration/targets/lookup_bakery/vars/main.yml
Labels: module:discovery

#485 Release 4.0.0 Addendum
  CODE_OF_CONDUCT.md
  README.md
  SECURITY.md
  SUPPORT.md
  changelogs/fragments/activation.yml
  changelogs/fragments/discovery.yml
  changelogs/fragments/lookups.yml
  playbooks/demo/lookup.yml
  plugins/modules/discovery.py
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/molecule/2.2.0/group_vars/all.yml
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/molecule/2.0.0/group_vars/all.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  roles/server/tasks/sites.yml
  scripts/release.sh
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/bakery/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/tasks/test.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/lookup_bakery/vars/main.yml
  tests/integration/targets/lookup_folder/vars/main.yml
  tests/integration/targets/lookup_folders/vars/main.yml
  tests/integration/targets/lookup_host/vars/main.yml
  tests/integration/targets/lookup_hosts/vars/main.yml
  tests/integration/targets/lookup_version/vars/main.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/timeperiod/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Labels: role:server, role:agent, module:discovery

#489 Release 4.0.1
  roles/agent/tasks/Linux.yml
Labels: release:4.0.1

#492 Update changelogs and docs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation

#493 Added Vagrantfile for KVM
  .gitignore
  Makefile
  README.md
  Vagrantfile.kvm
  Vagrantfile.vbox
Labels: enhancement

#476 Lookup plugins for rule/rules/ruleset/rulesets
  .github/labels-issues.yml
  .github/labels-prs.yml
  .github/workflows/ans-int-test-lkp-rules.yaml
  .github/workflows/ans-int-test-lkp-rulesets.yaml
  README.md
  changelogs/fragments/rule_lookup_plugins.yml
  plugins/lookup/rule.py
  plugins/lookup/rules.py
  plugins/lookup/ruleset.py
  plugins/lookup/rulesets.py
  plugins/module_utils/lookup_api.py
  tests/integration/targets/lookup_rules/tasks/main.yml
  tests/integration/targets/lookup_rules/tasks/prep.yml
  tests/integration/targets/lookup_rules/tasks/test.yml
  tests/integration/targets/lookup_rules/vars/main.yml
  tests/integration/targets/lookup_rulesets/tasks/main.yml
  tests/integration/targets/lookup_rulesets/tasks/prep.yml
  tests/integration/targets/lookup_rulesets/tasks/test.yml
  tests/integration/targets/lookup_rulesets/vars/main.yml
Labels: documentation, enhancement, release:4.1.0, lookup:rule, lookup:rules, lookup:ruleset, lookup:rulesets

#506 Fix for #500
  plugins/modules/password.py
  tests/integration/targets/password/tasks/test.yml
  tests/integration/targets/password/vars/main.yml
Labels: bug, module:password

#509 Improvements for CME in module and tests
  .github/labels-prs.yml
  plugins/modules/password.py
  tests/integration/targets/password/tasks/test.yml
  tests/integration/targets/password/vars/main.yml
Labels: enhancement, module:password
