Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2023-04, with the labels that each got.

#297 Update CI Scenarios.
  .github/workflows/ans-int-test-activation.yaml
  .github/workflows/ans-int-test-contact_group.yaml
  .github/workflows/ans-int-test-discovery.yaml
  .github/workflows/ans-int-test-downtime.yaml
  .github/workflows/ans-int-test-folder.yaml
  .github/workflows/ans-int-test-host.yaml
  .github/workflows/ans-int-test-host_group.yaml
  .github/workflows/ans-int-test-rule.yaml
  .github/workflows/ans-int-test-service_group.yaml
  .github/workflows/ans-int-test-tag_group.yaml
  .github/workflows/ans-int-test-user.yaml
  .github/workflows/ans-int-tests-full.yaml
  .github/workflows/ansible-lint.yaml
  .github/workflows/ansible-sanity-tests.yaml
  .github/workflows/ansible-unit-tests.yaml
  .github/workflows/molecule-role-server.yaml
  CONTRIBUTING.md
  SUPPORT.md
  changelogs/fragments/support.yml
  meta/runtime.yml
  tests/integration/targets/discovery/tasks/test.yml
  tests/integration/targets/downtime/tasks/test.yml
Labels: enhancement

#303 Update changelogs and docs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.19.0/api.yml
  changelogs/archive/0.19.0/support.yml
  changelogs/archive/0.19.0/user.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/user_module.rst
Labels: documentation

#264 Allow firewall zone change
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/tasks/RedHat.yml
Labels: enhancement, needs-info, role:agent, release:0.20.0

#296 Fix rule module for #290
  plugins/modules/rule.py
Labels: bug, module:rule, release:0.20.0

#301 Fix #175
  plugins/modules/host.py
  tests/integration/targets/host/tasks/test.yml
Labels: bug, module:host

#305 Release 0.20.0
  .github/workflows/release.yaml
  SUPPORT.md
  changelogs/fragments/agent.yml
  changelogs/fragments/host.yml
  changelogs/fragments/rule.yml
  galaxy.yml
  plugins/modules/host.py
  plugins/modules/rule.py
  requirements.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/tasks/RedHat.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/tasks/test.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Labels: enhancement, role:agent, module:rule, release:0.20.0

#310 Update changelogs and docs
  CHANGELOG.rst
  COMMUNITY.md
  README.md
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.20.0/agent.yml
  changelogs/archive/0.20.0/host.yml
  changelogs/archive/0.20.0/rule.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/user_module.rst
Labels: documentation

#321 Replace GitHub release action
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/release.yaml
  roles/server/defaults/main.yml
Labels: enhancement
