Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2023-03, with the labels that each got.

#280 Fix support for CCE in agent role
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/main.yml
Labels: bug, role:agent

#285 Update changelogs and docs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/0.18.0/agent.yml
  changelogs/archive/0.18.0/module-user.yml
  changelogs/archive/0.18.0/rule.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_module.rst
  docs/host_group_module.rst
  docs/host_module.rst
  docs/index.rst
  docs/rule_module.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/user_module.rst
Labels: documentation

#291 Introduce a centralized library to call the Checkmk API
  plugins/module_utils/api.py
  plugins/modules/activation.py
Labels: enhancement

#288 Add Checkmk 2.2 beta to integration tests.
  playbooks/demo.yml
  playbooks/demo/demo.yml
  playbooks/demo/hosts-and-folders.yml
  playbooks/demo/users-and-contacts.yml
  playbooks/roles.yml
  playbooks/usecases/remote-registration.yml
  roles/agent/handlers/main.yml
  roles/server/molecule/2.2.0/converge.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  roles/server/molecule/2.2.0/molecule.yml
  roles/server/molecule/2.2.0/verify.yml
  tests/integration/targets/activation/tasks/test.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/contact_group/tasks/test.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/tasks/test.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/tasks/test.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/tasks/test.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/tasks/test.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/tasks/test.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/rule/tasks/prep.yml
  tests/integration/targets/rule/tasks/test.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/tasks/test.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/user/tasks/test.yml
  tests/integration/targets/user/vars/main.yml
Labels: enhancement
