Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2024-04, with the labels that each got.

#585 Feature/add cluster managment to host module
  changelogs/fragments/host.yml
  plugins/modules/host.py
  tests/integration/targets/host/tasks/test.yml
  tests/integration/targets/host/vars/main.yml
Labels: module:host, release:4.4.0

#592 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/4.4.0/bakery.yml
  changelogs/archive/4.4.0/folder.yml
  changelogs/archive/4.4.0/host.yml
  changelogs/archive/4.4.0/release_summary.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/environment_variables.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation

#586 Add Improvements to: Migrate Rule module to new API
  plugins/modules/rule.py
Labels: module:rule, release:5.0.0

#599 Extend host module tests
  tests/integration/targets/host/tasks/test.yml
  tests/integration/targets/host/vars/main.yml
Labels: module:host
