Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2024-06, with the labels that each got.

#610 Fix rule module integration tests.
  tests/integration/targets/rule/vars/main.yml
Labels: module:rule, release:5.0.0

#607 Folder lookup module - Update and improve the examples.
  changelogs/fragments/lookup_folder.yml
  plugins/lookup/folder.py
Labels: documentation, lookup:folder, release:5.0.0

#612 Fix test for discovery module and change state to only_service_labels
  plugins/modules/discovery.py
  tests/integration/targets/discovery/tasks/test.yml
Labels: module:discovery, release:5.0.0

#613 Integration tests version handling
  plugins/modules/rule.py
  tests/integration/targets/rule/tasks/test.yml
  tests/integration/targets/rule/vars/2.1.0.yml
  tests/integration/targets/rule/vars/2.2.0.yml
  tests/integration/targets/rule/vars/2.3.0.yml
  tests/integration/targets/rule/vars/main.yml
Labels: documentation, module:rule

#605 Cleanup of HTTP_Codes
  plugins/module_utils/api.py
  plugins/module_utils/utils.py
  plugins/modules/bakery.py
  plugins/modules/discovery.py
  plugins/modules/password.py
  plugins/modules/tag_group.py
  plugins/modules/timeperiod.py
Labels: module:discovery, module:tag_group, module:passwords, module:bakery, module:timeperiod, module:password

#595 Add Ubuntu 24.04 to molecule tests.
  roles/agent/molecule/2.2.0/molecule.yml
  roles/agent/molecule/2.3.0/molecule.yml
  roles/server/defaults/main.yml
  roles/server/molecule/2.2.0/molecule.yml
  roles/server/molecule/2.3.0/molecule.yml
Labels: role:server, role:agent, release:5.0.0

#617 Revise user module
  plugins/modules/user.py
  tests/integration/targets/user/tasks/test.yml
  tests/integration/targets/user/vars/main.yml
Labels: module:user, release:5.0.0

#619 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.0.0/agent.yml
  changelogs/archive/5.0.0/build.yml
  changelogs/archive/5.0.0/discovery.yml
  changelogs/archive/5.0.0/http.yml
  changelogs/archive/5.0.0/lookup_folder.yml
  changelogs/archive/5.0.0/release_summary.yml
  changelogs/archive/5.0.0/roles.yml
  changelogs/archive/5.0.0/rule.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/environment_variables.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation

#620 Fix variable typos in lookup Readme
  plugins/lookup/README.md
Labels: documentation, release:5.1.0

#621 Build related changes
  .ansible-lint
  .github/workflows/ans-int-test-activation.yaml
  .github/workflows/ans-int-test-bakery.yaml
  .github/workflows/ans-int-test-contact_group.yaml
  .github/workflows/ans-int-test-discovery.yaml
  .github/workflows/ans-int-test-downtime.yaml
  .github/workflows/ans-int-test-folder.yaml
  .github/workflows/ans-int-test-host.yaml
  .github/workflows/ans-int-test-host_group.yaml
  .github/workflows/ans-int-test-lkp-bakery.yaml
  .github/workflows/ans-int-test-lkp-folder.yaml
  .github/workflows/ans-int-test-lkp-folders.yaml
  .github/workflows/ans-int-test-lkp-host.yaml
  .github/workflows/ans-int-test-lkp-hosts.yaml
  .github/workflows/ans-int-test-lkp-rules.yaml
  .github/workflows/ans-int-test-lkp-rulesets.yaml
  .github/workflows/ans-int-test-lkp-version.yaml
  .github/workflows/ans-int-test-password.yaml
  .github/workflows/ans-int-test-rule.yaml
  .github/workflows/ans-int-test-service_group.yaml
  .github/workflows/ans-int-test-tag_group.yaml
  .github/workflows/ans-int-test-timeperiod.yaml
  .github/workflows/ans-int-test-user.yaml
  .gitignore
  Vagrantfile.kvm
  plugins/lookup/folders.py
  plugins/lookup/rules.py
  plugins/lookup/rulesets.py
  plugins/modules/rule.py
  plugins/modules/user.py
  requirements.txt
Labels: module:rule, module:user, release:5.1.0

#614 Mark internal vars by prepending a double underscore.
  CONTRIBUTING.md
  changelogs/fragments/variables.yml
  roles/agent/handlers/main.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/Linux-files.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
  roles/agent/tasks/Win32NT-files.yml
  roles/agent/tasks/Win32NT.yml
  roles/agent/tasks/Windows.yml
  roles/agent/tasks/main.yml
  roles/agent/vars/Debian.yml
  roles/agent/vars/RedHat.yml
  roles/agent/vars/Suse.yml
  roles/agent/vars/Windows.yml
  roles/agent/vars/main.yml
  roles/server/tasks/Debian.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/main.yml
  roles/server/tasks/sites.yml
  roles/server/tasks/update-site.yml
  roles/server/vars/Debian.yml
  roles/server/vars/RedHat.yml
  roles/server/vars/main.yml
  tests/integration/files/includes/tasks/prep.yml
  tests/integration/files/includes/vars/global.yml
Labels: documentation, release:5.1.0

#615 Improve idempotency of the registration tasks in the agent
  changelogs/fragments/agent.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/Win32NT-files.yml
  roles/agent/tasks/Win32NT.yml
Labels: documentation, role:server, role:agent, module:rule, module:user

#626 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.1.0/agent.yml
  changelogs/archive/5.1.0/build.yml
  changelogs/archive/5.1.0/release_summary.yml
  changelogs/archive/5.1.0/variables.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation

#627 Bugfix integration test for activation module.
  tests/integration/targets/activation/vars/main.yml
Labels: module:activation
