Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2024-01, with the labels that each got.

#517 Fix idempotency for relative rule location
  changelogs/fragments/rule.yml
  plugins/modules/rule.py
Labels: bug, module:rule, release:4.2.0

#521 Improve server role speed by skipping tasks
  roles/server/tasks/Debian.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/main.yml
Labels: enhancement, feedback, role:server, release:4.2.0

#299 Migrate user module to centralized utils
  plugins/modules/user.py
  tests/integration/targets/user/tasks/test.yml
  tests/integration/targets/user/vars/main.yml
Labels: bug, enhancement, module:user, never-stale, release:4.2.0

#512 Rewrite of Tag_group module
  plugins/modules/host_group.py
  plugins/modules/tag_group.py
  tests/integration/targets/tag_group/tasks/test.yml
  tests/integration/targets/tag_group/vars/main.yml
Labels: enhancement, module:host_group, module:tag_group, release:4.2.0

#514 Release `4.2.0`
  .github/workflows/ans-int-test-lkp-rules.yaml
  .github/workflows/ans-int-test-lkp-rulesets.yaml
  .gitignore
  Makefile
  SUPPORT.md
  Vagrantfile.kvm
  changelogs/fragments/release_summary.yml
  changelogs/fragments/roles.yml
  changelogs/fragments/rule.yml
  changelogs/fragments/tag_group.yml
  changelogs/fragments/user.yml
  galaxy.yml
  misc/debian-12.package_facts
  misc/ubuntu-22.package_facts
  playbooks/hosts.kvm
  playbooks/hosts.vbox
  plugins/modules/host_group.py
  plugins/modules/rule.py
  plugins/modules/tag_group.py
  plugins/modules/user.py
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/handlers/main.yml
  roles/agent/molecule/2.1.0/group_vars/all.yml
  roles/agent/molecule/2.2.0/group_vars/all.yml
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  roles/server/tasks/Debian.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/main.yml
  scripts/release.sh
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/bakery/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/lookup_bakery/vars/main.yml
  tests/integration/targets/lookup_folder/vars/main.yml
  tests/integration/targets/lookup_folders/vars/main.yml
  tests/integration/targets/lookup_host/vars/main.yml
  tests/integration/targets/lookup_hosts/vars/main.yml
  tests/integration/targets/lookup_rules/vars/main.yml
  tests/integration/targets/lookup_rulesets/vars/main.yml
  tests/integration/targets/lookup_version/vars/main.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/tasks/test.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/timeperiod/vars/main.yml
  tests/integration/targets/user/tasks/test.yml
  tests/integration/targets/user/vars/main.yml
Labels: documentation, role:server, role:agent, module:host_group, module:rule, module:tag_group, module:user, release:4.2.0

#529 Update changelogs and docs
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/4.2.0/release_summary.yml
  changelogs/archive/4.2.0/roles.yml
  changelogs/archive/4.2.0/rule.yml
  changelogs/archive/4.2.0/tag_group.yml
  changelogs/archive/4.2.0/user.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation

#537 QA tests option for scripts/testing.sh
  Vagrantfile.kvm
  Vagrantfile.vbox
  scripts/testing.sh
Labels: enhancement

#535 Make user-module 2.3-ready
  plugins/modules/user.py
  tests/integration/targets/user/tasks/test.yml
  tests/integration/targets/user/vars/main.yml
Labels: bug, enhancement, module:user, release:4.3.0
