Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2024-02, with the labels that each got.

#546 Feature: Introduce var env and ini variables in lookup plugins
  plugins/lookup/bakery.py
  plugins/lookup/folder.py
  plugins/lookup/folders.py
  plugins/lookup/host.py
  plugins/lookup/hosts.py
  plugins/lookup/rule.py
  plugins/lookup/rules.py
  plugins/lookup/ruleset.py
  plugins/lookup/rulesets.py
  plugins/lookup/version.py
Labels: enhancement, release:4.3.0

#539 Extend the functionality of the folder module
  plugins/modules/folder.py
Labels: enhancement, module:folder, release:4.3.0

#545 Feature parse parents attribute as list
  plugins/modules/host.py
Labels: enhancement, module:folder, module:host, release:4.3.0

#559 Removed check of pw_length
  plugins/modules/user.py
  tests/integration/targets/user/tasks/test.yml
  tests/integration/targets/user/vars/main.yml
Labels: module:user

#508 The rule module has now a parameter rule_id
  plugins/modules/rule.py
  tests/integration/targets/lookup_rules/tasks/test.yml
  tests/integration/targets/rule/tasks/test.yml
Labels: documentation, module:rule, release:4.3.0

#561 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/4.3.0/fix_folder_module_idempotency.yml
  changelogs/archive/4.3.0/folder.yml
  changelogs/archive/4.3.0/lookups.yml
  changelogs/archive/4.3.0/parents.yml
  changelogs/archive/4.3.0/release_summary.yml
  changelogs/archive/4.3.0/rule.yml
  changelogs/archive/4.3.0/user.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/environment_variables.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation

#564 Change logic in rule.py irt conditions being overwritten
  changelogs/fragments/fix_rule_conditions_missing.yml
  plugins/modules/rule.py
Labels: bug, module:rule, release:4.3.1

#566 Release 4.3.1
  SUPPORT.md
  changelogs/fragments/fix_rule_conditions_missing.yml
  changelogs/fragments/release_summary.yml
  galaxy.yml
  plugins/modules/rule.py
  tests/integration/targets/bakery/tasks/main.yml
Labels: bug, documentation, module:rule, release:4.3.1

#568 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/4.3.1/fix_rule_conditions_missing.yml
  changelogs/archive/4.3.1/release_summary.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation
