Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2024-07, with the labels that each got.

#632 Fix removal of downtime when specifying only one service
  changelogs/fragments/downtime.yaml
  plugins/modules/downtime.py
  tests/integration/targets/downtime/tasks/test.yml
Labels: module:downtime, release:5.2.0

#638 Allow registering on a http subsite with a https central site.
  roles/agent/defaults/main.yml
  roles/agent/molecule/2.1.0/group_vars/all.yml
  roles/agent/molecule/2.2.0/group_vars/all.yml
  roles/agent/molecule/2.3.0/group_vars/all.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/Win32NT.yml
Labels: role:agent, release:5.2.0

#643 docs: add ansible.utils dependency to README
  README.md
Labels: documentation
