Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2024-10, with the labels that each got.

#654 Implement module "site" for configuring distributed monitoring
  .github/workflows/ans-int-test-site.yaml
  README.md
  changelogs/fragments/site.yml
  playbooks/usecases/setup-distributed-monitoring.yml
  plugins/doc_fragments/site_options.py
  plugins/module_utils/logger.py
  plugins/module_utils/site.py
  plugins/module_utils/utils.py
  plugins/modules/site.py
  tests/integration/targets/site/tasks/main.yml
  tests/integration/targets/site/tasks/test.yml
  tests/integration/targets/site/vars/main.yml
Labels: documentation, enhancement, module:site, release:5.3.0

#658 Created Lookup Modules 'site' and 'sites'.
  .github/workflows/ans-int-test-lkp-site.yaml
  .github/workflows/ans-int-test-lkp-sites.yaml
  README.md
  plugins/lookup/site.py
  plugins/lookup/sites.py
  tests/integration/targets/lookup_site/tasks/main.yml
  tests/integration/targets/lookup_site/tasks/test.yml
  tests/integration/targets/lookup_site/vars/main.yml
  tests/integration/targets/lookup_sites/tasks/main.yml
  tests/integration/targets/lookup_sites/tasks/test.yml
  tests/integration/targets/lookup_sites/vars/main.yml
Labels: documentation, enhancement, release:5.3.0, lookup:site

#674 Fix build related changes for main branch
  .github/dependabot.yml
  .github/workflows/python-qa.yaml
  Makefile
  README.md
  Vagrantfile
  plugins/modules/host.py
  qa-requirements.txt
  tests/integration/targets/bakery/tasks/test.yml
  tests/integration/targets/site/vars/main.yml
Labels: documentation, module:host

#687 Release 5.3.1
  plugins/modules/contact_group.py
  plugins/modules/host_group.py
  plugins/modules/service_group.py
  qa-requirements.txt
Labels: module:contact_group, module:host_group, module:service_group, release:5.3.1

#688 Release 5.3.1 Encore
  SUPPORT.md
  changelogs/fragments/groups.yml
  galaxy.yml
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/molecule/2.3.0/group_vars/all.yml
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/molecule/2.3.0/group_vars/all.yml
  scripts/release.sh
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/bakery/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/lookup_bakery/vars/main.yml
  tests/integration/targets/lookup_folder/vars/main.yml
  tests/integration/targets/lookup_folders/vars/main.yml
  tests/integration/targets/lookup_host/vars/main.yml
  tests/integration/targets/lookup_hosts/vars/main.yml
  tests/integration/targets/lookup_rules/vars/main.yml
  tests/integration/targets/lookup_rulesets/vars/main.yml
  tests/integration/targets/lookup_site/vars/main.yml
  tests/integration/targets/lookup_sites/vars/main.yml
  tests/integration/targets/lookup_version/vars/main.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/site/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/timeperiod/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Labels: documentation, role:server, role:agent, release:5.3.1

#692 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.3.1/groups.yml
  changelogs/archive/5.3.1/rule.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/checkmk_inventory.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/service_group_module.rst
  docs/site_lookup.rst
  docs/site_module.rst
  docs/sites_lookup.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation
