Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2024-03, with the labels that each got.

#578 [DOC] Updating exemple for version lookup
  docs/version_lookup.rst
  plugins/lookup/version.py
Labels: documentation, release:4.4.0

#570 Fix folder title treatment
  plugins/modules/folder.py
  tests/integration/targets/folder/tasks/test.yml
  tests/integration/targets/folder/vars/main.yml
Labels: bug, module:folder, release:4.4.0

#562 Rewrite host module using new api, add checkmode and extend functionality
  plugins/modules/host.py
Labels: module:host, release:4.4.0
