Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2024-05, with the labels that each got.

#596 Fix host being always initially created in main folder.
  changelogs/fragments/fix_host_initial_folder.yml
  plugins/modules/host.py
  tests/integration/targets/host/tasks/test.yml
  tests/integration/targets/host/vars/main.yml
Labels: module:host

#598 Release 4.4.1
  Makefile
  README.md
  SUPPORT.md
  Vagrantfile.kvm
  changelogs/fragments/fix_host_initial_folder.yml
  changelogs/fragments/meta.yml
  changelogs/fragments/release_summary.yml
  galaxy.yml
  plugins/modules/host.py
  tests/integration/targets/host/tasks/test.yml
  tests/integration/targets/host/vars/main.yml
Labels: bug, documentation, module:host

#601 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/4.4.1/fix_host_initial_folder.yml
  changelogs/archive/4.4.1/meta.yml
  changelogs/archive/4.4.1/release_summary.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation

#602 Migrate Rule Module: Improved Idempotency
  plugins/modules/rule.py
  tests/integration/targets/rule/tasks/test.yml
  tests/integration/targets/rule/vars/main.yml
Labels: module:rule

#604 Make discovery module 2.3 ready
  plugins/modules/discovery.py
  tests/integration/targets/discovery/tasks/test.yml
Labels: enhancement, module:discovery, release:5.0.0
