Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2024-08, with the labels that each got.

#640 Taggroup update 2.4
  changelogs/fragments/tag_group.yaml
  plugins/modules/tag_group.py
Labels: module:tag_group, release:5.2.0

#637 Release 5.2.0
  .gitignore
  Makefile
  README.md
  SUPPORT.md
  Vagrantfile
  Vagrantfile.vbox
  changelogs/fragments/agent.yaml
  changelogs/fragments/build.yaml
  changelogs/fragments/downtime.yaml
  changelogs/fragments/release_summary.yaml
  changelogs/fragments/tag_group.yaml
  galaxy.yml
  playbooks/hosts
  playbooks/hosts.vbox
  playbooks/roles.yml
  playbooks/vars/rules.yml
  plugins/modules/downtime.py
  plugins/modules/tag_group.py
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/molecule/2.1.0/group_vars/all.yml
  roles/agent/molecule/2.2.0/group_vars/all.yml
  roles/agent/molecule/2.3.0/group_vars/all.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/Win32NT.yml
  roles/agent/tasks/main.yml
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  roles/server/molecule/2.3.0/group_vars/all.yml
  scripts/release.sh
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/bakery/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/tasks/test.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/lookup_bakery/vars/main.yml
  tests/integration/targets/lookup_folder/vars/main.yml
  tests/integration/targets/lookup_folders/vars/main.yml
  tests/integration/targets/lookup_host/vars/main.yml
  tests/integration/targets/lookup_hosts/vars/main.yml
  tests/integration/targets/lookup_rules/vars/main.yml
  tests/integration/targets/lookup_rulesets/vars/main.yml
  tests/integration/targets/lookup_version/vars/main.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/timeperiod/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Labels: documentation, role:server, role:agent, module:downtime, module:tag_group, release:5.2.0

#645 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.2.0/agent.yaml
  changelogs/archive/5.2.0/build.yaml
  changelogs/archive/5.2.0/downtime.yaml
  changelogs/archive/5.2.0/release_summary.yaml
  changelogs/archive/5.2.0/tag_group.yaml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/environment_variables.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation

#648 Fix #531: Folder network_scan_result
  plugins/modules/folder.py
Labels: bug, module:folder

#649 Release 5.2.1
  .gitignore
  SUPPORT.md
  changelogs/fragments/folder.yml
  changelogs/fragments/release_summary.yml
  galaxy.yml
  plugins/modules/folder.py
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/molecule/2.2.0/group_vars/all.yml
  roles/agent/molecule/2.3.0/group_vars/all.yml
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  roles/server/molecule/2.3.0/group_vars/all.yml
  scripts/release.sh
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/bakery/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/lookup_bakery/vars/main.yml
  tests/integration/targets/lookup_folder/vars/main.yml
  tests/integration/targets/lookup_folders/vars/main.yml
  tests/integration/targets/lookup_host/vars/main.yml
  tests/integration/targets/lookup_hosts/vars/main.yml
  tests/integration/targets/lookup_rules/vars/main.yml
  tests/integration/targets/lookup_rulesets/vars/main.yml
  tests/integration/targets/lookup_version/vars/main.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/timeperiod/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Labels: bug, documentation, module:folder, release:5.2.1

#651 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.2.1/folder.yml
  changelogs/archive/5.2.1/release_summary.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/service_group_module.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation
