Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2025-05, with the labels that each got.

#767 Make the discovery module aware of Checkmk 2.5.0
  plugins/module_utils/discovery_250.py
  plugins/modules/discovery.py
Labels: module:discovery

#752 Add aux_tags suboption for tags in tag_group module
  changelogs/fragments/tag_group.yml
  plugins/modules/tag_group.py
  tests/integration/targets/tag_group/tasks/test.yml
  tests/integration/targets/tag_group/vars/main.yml
Labels: module:tag_group

#775 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.9.0/build.yml
  changelogs/archive/5.9.0/discovery.yml
  changelogs/archive/5.9.0/release_summary.yml
  changelogs/archive/5.9.0/tag_group.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/agent_role.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/checkmk_inventory.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/server_role.rst
  docs/service_group_module.rst
  docs/site_lookup.rst
  docs/site_module.rst
  docs/sites_lookup.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation

#776 Feature ansible host for inventory
  changelogs/fragments/feature_ansible_host_for_inventory.yml
  plugins/inventory/checkmk.py
Labels: inventory

#766 Move module args to utils
  changelogs/fragments/utils.yml
  plugins/module_utils/site.py
  plugins/module_utils/utils.py
  plugins/modules/activation.py
  plugins/modules/bakery.py
  plugins/modules/contact_group.py
  plugins/modules/discovery.py
  plugins/modules/downtime.py
  plugins/modules/folder.py
  plugins/modules/host.py
  plugins/modules/host_group.py
  plugins/modules/password.py
  plugins/modules/rule.py
  plugins/modules/service_group.py
  plugins/modules/site.py
  plugins/modules/tag_group.py
  plugins/modules/timeperiod.py
  plugins/modules/user.py
Labels: enhancement, module:activation, module:contact_group, module:discovery, module:downtime, module:folder, module:host_group, module:host, module:rule, module:service_group, module:tag_group, module:user, module:bakery, module:timeperiod, module:password, module:site
