Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2025-02, with the labels that each got.

#717 Make site module compatible to Checkmk 2.4.0
  plugins/doc_fragments/site_options.py
  plugins/module_utils/site.py
  plugins/modules/site.py
  tests/integration/targets/site/vars/main.yml
Labels: documentation, role:server, role:agent, module:site

#720 Tmp directory variable for server role
  roles/server/tasks/Debian.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/main.yml
  roles/server/vars/main.yml
Labels: role:server

#716 Make discovery module compatible to Checkmk 2.4.0.
  .github/workflows/ans-int-test-discovery.yaml
  plugins/modules/discovery.py
Labels: module:discovery

#731 Use the logger util for logging
  .github/workflows/ans-int-test-contact_group.yaml
  .github/workflows/ans-int-test-host_group.yaml
  plugins/modules/contact_group.py
  plugins/modules/host_group.py
Labels: module:contact_group, module:host_group

#714 Enable management of MKP packages with server role
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/meta/argument_specs.yml
  roles/server/molecule/2.1.0/converge.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  roles/server/molecule/2.2.0/converge.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  roles/server/molecule/2.3.0/converge.yml
  roles/server/molecule/2.3.0/group_vars/all.yml
  roles/server/tasks/mkp.yml
  roles/server/tasks/sites.yml
Labels: documentation, role:server

#733 Release 5.6.0
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/meta/argument_specs.yml
  roles/server/molecule/2.1.0/converge.yml
  roles/server/molecule/2.1.0/group_vars/all.yml
  roles/server/molecule/2.2.0/converge.yml
  roles/server/molecule/2.2.0/group_vars/all.yml
  roles/server/molecule/2.3.0/converge.yml
  roles/server/molecule/2.3.0/group_vars/all.yml
  roles/server/tasks/mkp.yml
  roles/server/tasks/sites.yml
Labels: documentation, role:server

#738 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.6.0/release_summary.yml
  changelogs/archive/5.6.0/server.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/agent_role.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/checkmk_inventory.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/server_role.rst
  docs/service_group_module.rst
  docs/site_lookup.rst
  docs/site_module.rst
  docs/sites_lookup.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation
