Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2025-04, with the labels that each got.

#758 User role: No longer allow to change the user that is used for API authorization.
  changelogs/fragments/user.yml
  plugins/modules/user.py
  tests/integration/targets/user/tasks/test.yml
  tests/integration/targets/user/vars/main.yml
Labels: module:user

#750 Make gpg key download url configurable
  changelogs/fragments/gpg.yml
  roles/server/tasks/main.yml
  roles/server/vars/main.yml
Labels: role:server

#760 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.8.0/2.4.0.yml
  changelogs/archive/5.8.0/gpg.yml
  changelogs/archive/5.8.0/release_summary.yml
  changelogs/archive/5.8.0/user.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/agent_role.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/checkmk_inventory.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/server_role.rst
  docs/service_group_module.rst
  docs/site_lookup.rst
  docs/site_module.rst
  docs/sites_lookup.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation
