Repository Checkmk/ansible-collection-checkmk.general, pull requests merged in 2025-08, with the labels that each got.

#831 Change API call timeouts and retries to reduce potential server load
  changelogs/fragments/api.yml
  plugins/module_utils/api.py
Labels: bug, enhancement

#838 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/6.1.0/agent.yml
  changelogs/archive/6.1.0/api.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/agent_role.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/checkmk_inventory.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/environment_variables.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/server_role.rst
  docs/service_group_module.rst
  docs/site_lookup.rst
  docs/site_module.rst
  docs/sites_lookup.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation

#832 Clean up setup files after successful role execution
  changelogs/fragments/setups.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/Windows.yml
  roles/server/tasks/main.yml
Labels: role:server, role:agent

#833 Clean up obsolete `failed_when` statements.
  roles/agent/tasks/Linux-files.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/Win32NT-files.yml
  roles/agent/tasks/Win32NT.yml
Labels: role:agent

#839 Re-align Windows file management with Linux file management.
  roles/agent/tasks/Win32NT-files.yml
Labels: role:agent, os:windows

#845 Removed body for GET and DELETE requests.
  plugins/module_utils/api.py
  plugins/modules/password.py
  plugins/modules/tag_group.py
  plugins/modules/timeperiod.py
Labels: module:tag_group, module:timeperiod, module:password

#851 Update changelogs and docs upon release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/6.2.1/http_body.yml
  changelogs/archive/6.2.1/rule.yml
  changelogs/archive/6.2.1/server.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/agent_role.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/checkmk_inventory.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/server_role.rst
  docs/service_group_module.rst
  docs/site_lookup.rst
  docs/site_module.rst
  docs/sites_lookup.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Labels: documentation
