Repository Checkmk/ansible-collection-checkmk.general, changes with the owners that CODEOWNERS names for each.
All owners: @robin-checkmk, @lgetwan, @Max-checkmk

Quick fix Dockerfile (still broken).
  tests/container/Dockerfile
Owners: @robin-checkmk

Update Vagrantfile.
  Vagrantfile
Owners: @robin-checkmk

Cleanup.
  tests/integration/targets/site/tasks/test.yml
Owners: @robin-checkmk

Bugfix integration tests.
  tests/integration/targets/site/vars/main.yml
Owners: @robin-checkmk

Bugfix bakery_lookup integration tests.
  tests/integration/targets/lookup_bakery/tasks/test.yml
Owners: @robin-checkmk

Move basic module options to utils.
  plugins/module_utils/site.py
  plugins/module_utils/utils.py
  plugins/modules/activation.py
  plugins/modules/bakery.py
  plugins/modules/contact_group.py
  plugins/modules/discovery.py
  plugins/modules/downtime.py
  plugins/modules/folder.py
  plugins/modules/host.py
  plugins/modules/host_group.py
  plugins/modules/password.py
  plugins/modules/rule.py
  plugins/modules/service_group.py
  plugins/modules/site.py
  plugins/modules/tag_group.py
  plugins/modules/timeperiod.py
  plugins/modules/user.py
Owners: @lgetwan, @Max-checkmk

Fix imports.
  plugins/modules/activation.py
  plugins/modules/bakery.py
  plugins/modules/contact_group.py
  plugins/modules/discovery.py
  plugins/modules/downtime.py
  plugins/modules/folder.py
  plugins/modules/host.py
  plugins/modules/host_group.py
  plugins/modules/password.py
  plugins/modules/rule.py
  plugins/modules/service_group.py
  plugins/modules/site.py
  plugins/modules/tag_group.py
  plugins/modules/timeperiod.py
  plugins/modules/user.py
Owners: @lgetwan, @Max-checkmk

Bugfix conditional lookup tasks.
  tests/integration/files/includes/vars/global.yml
  tests/integration/targets/lookup_bakery/tasks/test.yml
  tests/integration/targets/lookup_folder/tasks/test.yml
  tests/integration/targets/lookup_folders/tasks/test.yml
  tests/integration/targets/lookup_host/tasks/test.yml
  tests/integration/targets/lookup_hosts/tasks/test.yml
  tests/integration/targets/lookup_rules/tasks/test.yml
  tests/integration/targets/lookup_rulesets/tasks/test.yml
  tests/integration/targets/lookup_version/tasks/test.yml
Owners: @robin-checkmk

Cleanup.
  tests/integration/targets/lookup_bakery/tasks/test.yml
Owners: @robin-checkmk

Bugfix Vgrantfile.
  Vagrantfile
Owners: @robin-checkmk

Make the discovery module aware of Checkmk 2.5.0
  plugins/module_utils/discovery_250.py
  plugins/modules/discovery.py
Owners: @lgetwan, @Max-checkmk

Fix imports.
  plugins/modules/activation.py
  plugins/modules/bakery.py
  plugins/modules/contact_group.py
  plugins/modules/discovery.py
  plugins/modules/downtime.py
  plugins/modules/folder.py
  plugins/modules/host.py
  plugins/modules/host_group.py
  plugins/modules/password.py
  plugins/modules/rule.py
  plugins/modules/service_group.py
  plugins/modules/site.py
  plugins/modules/tag_group.py
  plugins/modules/timeperiod.py
  plugins/modules/user.py
Owners: @lgetwan, @Max-checkmk

WIP: Simplify argument logic.
  plugins/module_utils/site.py
  plugins/module_utils/utils.py
  plugins/modules/activation.py
  plugins/modules/bakery.py
  plugins/modules/contact_group.py
  plugins/modules/discovery.py
  plugins/modules/downtime.py
  plugins/modules/folder.py
  plugins/modules/host.py
  plugins/modules/host_group.py
  plugins/modules/password.py
  plugins/modules/rule.py
  plugins/modules/service_group.py
  plugins/modules/site.py
  plugins/modules/tag_group.py
  plugins/modules/timeperiod.py
  plugins/modules/user.py
Owners: @lgetwan, @Max-checkmk

Fix new Molecule behavior,
  roles/agent/molecule/2.2.0/molecule.yml
  roles/agent/molecule/2.3.0/molecule.yml
  roles/agent/molecule/2.4.0/molecule.yml
  roles/server/molecule/2.2.0/molecule.yml
  roles/server/molecule/2.3.0/molecule.yml
  roles/server/molecule/2.4.0/molecule.yml
Owners: @robin-checkmk

Update changelog.
  changelogs/fragments/tag_group.yml
Owners: @robin-checkmk

Prepare release.
  SUPPORT.md
  galaxy.yml
Owners: @robin-checkmk

Update pyproject.toml from requirements.txt.
  pyproject.toml
Owners: @robin-checkmk

Cleanup.
  tests/integration/files/includes/tasks/prep.yml
Owners: @robin-checkmk

Manage version in pyproject.toml.
  scripts/release.sh
Owners: @robin-checkmk

Add changelogs.
  changelogs/fragments/build.yml
  changelogs/fragments/discovery.yml
  changelogs/fragments/release_summary.yml
Owners: @robin-checkmk

Bugfix release.sh.
  scripts/release.sh
Owners: @robin-checkmk

Update Docs and Changelogs upon Release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.9.0/build.yml
  changelogs/archive/5.9.0/discovery.yml
  changelogs/archive/5.9.0/release_summary.yml
  changelogs/archive/5.9.0/tag_group.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/agent_role.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/checkmk_inventory.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/server_role.rst
  docs/service_group_module.rst
  docs/site_lookup.rst
  docs/site_module.rst
  docs/sites_lookup.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Owners: @robin-checkmk

Fetch ip adress from Checkmk and update ansible_host variable
  changelogs/fragments/feature_ansible_host_for_inventory.yml
  plugins/inventory/checkmk.py
Owners: @robin-checkmk, @lgetwan

Improved description
  plugins/inventory/checkmk.py
Owners: @lgetwan

Improve Python formatting
  plugins/inventory/checkmk.py
Owners: @lgetwan

Replace the apt and dnf modules with package.
  roles/agent/molecule/2.2.0/converge.yml
  roles/agent/molecule/2.3.0/converge.yml
  roles/agent/molecule/2.4.0/converge.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/server/molecule/2.2.0/converge.yml
  roles/server/molecule/2.3.0/converge.yml
  roles/server/molecule/2.4.0/converge.yml
  roles/server/tasks/Debian.yml
  roles/server/tasks/RedHat.yml
  roles/server/tasks/main.yml
Owners: @robin-checkmk

Fix typos.
  README.md
  plugins/inventory/checkmk.py
Owners: @robin-checkmk, @lgetwan

Bugfix Vagrantfile.
  Vagrantfile
Owners: @robin-checkmk

Add dynamic inventory example.
  playbooks/inventory/checkmk.yml
Owners: @robin-checkmk

Fix parameters.
  roles/agent/tasks/Debian.yml
  roles/server/tasks/Debian.yml
  tests/integration/files/includes/tasks/prep.yml
Owners: @robin-checkmk

Partially revert parameter changes.
  roles/agent/tasks/Debian.yml
  roles/server/tasks/Debian.yml
Owners: @robin-checkmk

Server Site MKP management not working #777
  changelogs/fragments/fix-mkp-management.yml
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/tasks/mkp.yml
Owners: @robin-checkmk

Partially revert some changes.
  plugins/module_utils/utils.py
  plugins/modules/activation.py
  plugins/modules/bakery.py
  plugins/modules/contact_group.py
  plugins/modules/discovery.py
  plugins/modules/downtime.py
  plugins/modules/folder.py
  plugins/modules/host.py
  plugins/modules/host_group.py
  plugins/modules/password.py
  plugins/modules/rule.py
  plugins/modules/service_group.py
  plugins/modules/site.py
  plugins/modules/tag_group.py
  plugins/modules/timeperiod.py
  plugins/modules/user.py
Owners: @lgetwan, @Max-checkmk

Add changelog.
  changelogs/fragments/utils.yml
Owners: @robin-checkmk

Bugfix import.
  plugins/modules/site.py
Owners: @lgetwan

Prepeare release.
  SUPPORT.md
  galaxy.yml
  pyproject.toml
Owners: @robin-checkmk

Add changelogs.
  SUPPORT.md
  changelogs/fragments/feature_ansible_host_for_inventory.yml
  changelogs/fragments/package_mgmt.yml
  changelogs/fragments/release_summary.yml
Owners: @robin-checkmk

Bugfix changelog.
  changelogs/fragments/fix-mkp-management.yml
Owners: @robin-checkmk

WIP: Rework firewall management.
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/meta/argument_specs.yml
  roles/agent/molecule/2.2.0/group_vars/all.yml
  roles/agent/molecule/2.3.0/group_vars/all.yml
  roles/agent/molecule/2.4.0/group_vars/all.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
Owners: @robin-checkmk

Finalize firewall management for the agent.
  changelogs/fragments/firewall-agent.yml
  roles/agent/README.md
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
Owners: @robin-checkmk

CODEOWNERS:

* @robin-checkmk
*.md @robin-checkmk
/plugins/ @lgetwan
/plugins/doc_fragments/ @robin-checkmk
/plugins/lookup/ @lgetwan
/plugins/lookup/bakery.py @Max-checkmk
/plugins/module_utils/ @lgetwan
/plugins/modules/ @lgetwan
/plugins/modules/bakery.py @Max-checkmk
/plugins/modules/contact_group.py @lgetwan
/plugins/modules/discovery.py @Max-checkmk
/plugins/modules/host_group.py @lgetwan
/plugins/modules/tag_group.py @Max-checkmk
/plugins/modules/timeperiod.py @Max-checkmk
/plugins/modules/password.py @Max-checkmk
/plugins/modules/service_group.py @lgetwan
/roles/agent/tasks/Windows.yml @Max-checkmk
/roles/agent/vars/Windows.yml @Max-checkmk
/roles/agent/tasks/Win32NT.yml @Max-checkmk
