Repository Checkmk/ansible-collection-checkmk.general, changes with the owners that CODEOWNERS names for each.
All owners: @robin-checkmk, @lgetwan, @Max-checkmk

Bugfix role default versions.
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/server/README.md
  roles/server/defaults/main.yml
Owners: @robin-checkmk

Harmonize firewall management for server role.
  changelogs/fragments/firewall-server.yml
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/tasks/Debian.yml
  roles/server/tasks/RedHat.yml
  roles/server/vars/RedHat.yml
Owners: @robin-checkmk

Update README.
  roles/agent/README.md
Owners: @robin-checkmk

Fix ports.
  roles/server/README.md
  roles/server/defaults/main.yml
  roles/server/tasks/main.yml
Owners: @robin-checkmk

Update Docs and Changelogs upon Release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.10.0/feature_ansible_host_for_inventory.yml
  changelogs/archive/5.10.0/fix-mkp-management.yml
  changelogs/archive/5.10.0/package_mgmt.yml
  changelogs/archive/5.10.0/release_summary.yml
  changelogs/archive/5.10.0/utils.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/agent_role.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/checkmk_inventory.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/server_role.rst
  docs/service_group_module.rst
  docs/site_lookup.rst
  docs/site_module.rst
  docs/sites_lookup.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Owners: @robin-checkmk

Update sites.yml
  roles/server/tasks/sites.yml
Owners: @robin-checkmk

Update sites.yml
  roles/server/tasks/sites.yml
Owners: @robin-checkmk

Fix linting.
  roles/server/tasks/sites.yml
Owners: @robin-checkmk

Add new community project.
  COMMUNITY.md
Owners: @robin-checkmk

Initial commit of modules donated by Atruvia AG.
  plugins/doc_fragments/common.py
  plugins/lookup/bi_aggregation.py
  plugins/lookup/bi_pack.py
  plugins/lookup/bi_rule.py
  plugins/lookup/dcd.py
  plugins/module_utils/differ.py
  plugins/module_utils/extended_api.py
  plugins/modules/bi_aggregation.py
  plugins/modules/bi_pack.py
  plugins/modules/bi_rule.py
  plugins/modules/dcd.py
Owners: @robin-checkmk, @lgetwan

Fix typos.
  plugins/lookup/README.md
  plugins/modules/activation.py
  plugins/modules/tag_group.py
Owners: @lgetwan, @Max-checkmk

Fix linting for BI modules.
  plugins/lookup/bi_aggregation.py
  plugins/lookup/bi_rule.py
  plugins/modules/bi_aggregation.py
  plugins/modules/bi_pack.py
  plugins/modules/bi_rule.py
Owners: @lgetwan

Update meta data.
  .github/labels-issues.yml
  .github/labels-prs.yml
  meta/runtime.yml
Owners: @robin-checkmk

Add very basic integration tests for BI lookup modules.
  .github/workflows/ans-int-test-lkp-bi_aggregation.yaml
  .github/workflows/ans-int-test-lkp-bi_pack.yaml
  .github/workflows/ans-int-test-lkp-bi_rule.yaml
  plugins/lookup/bi_aggregation.py
  plugins/lookup/bi_pack.py
  tests/integration/targets/lookup_bi_aggregation/tasks/main.yml
  tests/integration/targets/lookup_bi_aggregation/tasks/test.yml
  tests/integration/targets/lookup_bi_aggregation/vars/main.yml
  tests/integration/targets/lookup_bi_pack/tasks/main.yml
  tests/integration/targets/lookup_bi_pack/tasks/test.yml
  tests/integration/targets/lookup_bi_pack/vars/main.yml
  tests/integration/targets/lookup_bi_rule/tasks/main.yml
  tests/integration/targets/lookup_bi_rule/tasks/test.yml
  tests/integration/targets/lookup_bi_rule/vars/main.yml
Owners: @robin-checkmk, @lgetwan

Integrate extended_api.py into api.py.
  plugins/module_utils/api.py
  plugins/module_utils/extended_api.py
  plugins/modules/bi_aggregation.py
  plugins/modules/bi_rule.py
Owners: @lgetwan

Document automation_auth_type and automation_auth_cookie.
  plugins/doc_fragments/common.py
  plugins/module_utils/utils.py
Owners: @robin-checkmk, @lgetwan

Fix linting for DCD modules.
  plugins/lookup/dcd.py
  plugins/modules/dcd.py
Owners: @lgetwan

Update README.
  README.md
Owners: @robin-checkmk

Add first iteration of integration tests for the bi_aggregation module.
  .github/workflows/ans-int-test-bi_aggregation.yaml
  plugins/modules/bi_aggregation.py
  tests/integration/targets/bi_aggregation/tasks/main.yml
  tests/integration/targets/bi_aggregation/tasks/test.yml
  tests/integration/targets/bi_aggregation/vars/main.yml
Owners: @robin-checkmk, @lgetwan

Add first iteration of integration tests for the bi_pack module.
  .github/workflows/ans-int-test-bi_pack.yaml
  plugins/modules/bi_pack.py
  tests/integration/targets/bi_pack/tasks/main.yml
  tests/integration/targets/bi_pack/tasks/test.yml
  tests/integration/targets/bi_pack/vars/main.yml
Owners: @robin-checkmk, @lgetwan

Update auto labeler configuration.
  .github/labels-issues.yml
  .github/labels-prs.yml
Owners: @robin-checkmk

Add first iteration of integration tests for the dcd module.
  .github/workflows/ans-int-test-dcd.yaml
  tests/integration/targets/dcd/tasks/main.yml
  tests/integration/targets/dcd/tasks/test.yml
  tests/integration/targets/dcd/vars/main.yml
Owners: @robin-checkmk

Add first iteration of integration tests for the bi_rule module.
  .github/workflows/ans-int-test-bi_rule.yaml
  plugins/modules/bi_rule.py
  tests/integration/targets/bi_rule/tasks/main.yml
  tests/integration/targets/bi_rule/tasks/test.yml
  tests/integration/targets/bi_rule/vars/main.yml
Owners: @robin-checkmk, @lgetwan

Add new community project.
  COMMUNITY.md
Owners: @robin-checkmk

Fix local integration tests.
  tests/integration/files/includes/tasks/prep.yml
Owners: @robin-checkmk

Bugfix README.
  roles/agent/README.md
Owners: @robin-checkmk

Fix lookup module environment variables tests.
  tests/integration/files/includes/vars/global.yml
  tests/integration/targets/lookup_bakery/tasks/test.yml
  tests/integration/targets/lookup_folder/tasks/test.yml
  tests/integration/targets/lookup_folders/tasks/test.yml
  tests/integration/targets/lookup_host/tasks/test.yml
  tests/integration/targets/lookup_hosts/tasks/test.yml
  tests/integration/targets/lookup_rules/tasks/test.yml
  tests/integration/targets/lookup_rulesets/tasks/test.yml
  tests/integration/targets/lookup_site/tasks/test.yml
  tests/integration/targets/lookup_version/tasks/test.yml
Owners: @robin-checkmk

Rename environment variables for lookup modules.
  plugins/lookup/README.md
  plugins/lookup/bakery.py
  plugins/lookup/folder.py
  plugins/lookup/folders.py
  plugins/lookup/host.py
  plugins/lookup/hosts.py
  plugins/lookup/rule.py
  plugins/lookup/rules.py
  plugins/lookup/ruleset.py
  plugins/lookup/rulesets.py
  plugins/lookup/site.py
  plugins/lookup/sites.py
  plugins/lookup/version.py
  tests/integration/files/includes/vars/global.yml
Owners: @lgetwan, @Max-checkmk, @robin-checkmk

Readd old variable names.
  plugins/lookup/bakery.py
  plugins/lookup/folder.py
  plugins/lookup/folders.py
  plugins/lookup/host.py
  plugins/lookup/hosts.py
  plugins/lookup/rule.py
  plugins/lookup/rules.py
  plugins/lookup/ruleset.py
  plugins/lookup/rulesets.py
  plugins/lookup/site.py
  plugins/lookup/sites.py
  plugins/lookup/version.py
Owners: @Max-checkmk, @lgetwan

Try to fix integration tests for variable use outside of the lookup module call.
  tests/integration/targets/lookup_bakery/tasks/test.yml
  tests/integration/targets/lookup_folder/tasks/test.yml
  tests/integration/targets/lookup_folders/tasks/test.yml
  tests/integration/targets/lookup_host/tasks/test.yml
  tests/integration/targets/lookup_hosts/tasks/test.yml
  tests/integration/targets/lookup_rules/tasks/test.yml
  tests/integration/targets/lookup_rulesets/tasks/test.yml
  tests/integration/targets/lookup_site/tasks/test.yml
  tests/integration/targets/lookup_sites/tasks/test.yml
  tests/integration/targets/lookup_version/tasks/test.yml
Owners: @robin-checkmk

Bugfix set_fact workaround.
  tests/integration/targets/lookup_bakery/tasks/test.yml
  tests/integration/targets/lookup_folder/tasks/test.yml
  tests/integration/targets/lookup_folders/tasks/test.yml
  tests/integration/targets/lookup_host/tasks/test.yml
  tests/integration/targets/lookup_hosts/tasks/test.yml
  tests/integration/targets/lookup_rules/tasks/test.yml
  tests/integration/targets/lookup_rulesets/tasks/test.yml
  tests/integration/targets/lookup_site/tasks/test.yml
  tests/integration/targets/lookup_sites/tasks/test.yml
  tests/integration/targets/lookup_version/tasks/test.yml
Owners: @robin-checkmk

Enable support for environment variables for normal modules.
  plugins/module_utils/utils.py
  tests/integration/files/includes/vars/global.yml
  tests/integration/targets/activation/tasks/test.yml
  tests/integration/targets/bakery/tasks/test.yml
  tests/integration/targets/contact_group/tasks/test.yml
  tests/integration/targets/discovery/tasks/test.yml
  tests/integration/targets/downtime/tasks/test.yml
  tests/integration/targets/folder/tasks/test.yml
  tests/integration/targets/host/tasks/test.yml
  tests/integration/targets/password/tasks/test.yml
  tests/integration/targets/rule/tasks/test.yml
  tests/integration/targets/service_group/tasks/test.yml
  tests/integration/targets/site/tasks/test.yml
  tests/integration/targets/tag_group/tasks/test.yml
  tests/integration/targets/timeperiod/tasks/test.yml
  tests/integration/targets/user/tasks/test.yml
Owners: @lgetwan, @robin-checkmk

Fix typos in module documentation.
  plugins/lookup/bakery.py
  plugins/lookup/folder.py
  plugins/lookup/folders.py
  plugins/lookup/host.py
  plugins/lookup/hosts.py
  plugins/lookup/site.py
  plugins/lookup/sites.py
Owners: @Max-checkmk, @lgetwan

Fix version and bakery lookup tests.
  tests/integration/targets/lookup_bakery/tasks/test.yml
  tests/integration/targets/lookup_version/tasks/test.yml
Owners: @robin-checkmk

Fix version, bakery and rules lookup tests.
  tests/integration/targets/lookup_rules/tasks/test.yml
Owners: @robin-checkmk

Fix linting findings and test logic.
  tests/integration/targets/lookup_bakery/tasks/test.yml
  tests/integration/targets/lookup_version/tasks/test.yml
Owners: @robin-checkmk

Add override for testing sites.
  tests/integration/files/includes/vars/global.yml
Owners: @robin-checkmk

Bugfix version lookup integration test.
  tests/integration/targets/lookup_version/tasks/test.yml
Owners: @robin-checkmk

Bugfix version lookup integration test. Again.
  tests/integration/targets/lookup_version/tasks/test.yml
Owners: @robin-checkmk

Update Makefile and Vagrantfile.
  Makefile
  Vagrantfile
Owners: @robin-checkmk

CODEOWNERS:

* @robin-checkmk
*.md @robin-checkmk
/plugins/ @lgetwan
/plugins/doc_fragments/ @robin-checkmk
/plugins/lookup/ @lgetwan
/plugins/lookup/bakery.py @Max-checkmk
/plugins/module_utils/ @lgetwan
/plugins/modules/ @lgetwan
/plugins/modules/bakery.py @Max-checkmk
/plugins/modules/contact_group.py @lgetwan
/plugins/modules/discovery.py @Max-checkmk
/plugins/modules/host_group.py @lgetwan
/plugins/modules/tag_group.py @Max-checkmk
/plugins/modules/timeperiod.py @Max-checkmk
/plugins/modules/password.py @Max-checkmk
/plugins/modules/service_group.py @lgetwan
/roles/agent/tasks/Windows.yml @Max-checkmk
/roles/agent/vars/Windows.yml @Max-checkmk
/roles/agent/tasks/Win32NT.yml @Max-checkmk
