Repository Checkmk/ansible-collection-checkmk.general, changes with the owners that CODEOWNERS names for each.
All owners: @robin-checkmk, @lgetwan, @Max-checkmk

CODEOWNERS:

* @robin-checkmk
*.md @robin-checkmk
/plugins/ @lgetwan
/plugins/doc_fragments/ @robin-checkmk
/plugins/lookup/ @lgetwan
/plugins/lookup/bakery.py @Max-checkmk
/plugins/module_utils/ @lgetwan
/plugins/modules/ @lgetwan
/plugins/modules/bakery.py @Max-checkmk
/plugins/modules/contact_group.py @lgetwan
/plugins/modules/discovery.py @Max-checkmk
/plugins/modules/host_group.py @lgetwan
/plugins/modules/tag_group.py @Max-checkmk
/plugins/modules/timeperiod.py @Max-checkmk
/plugins/modules/password.py @Max-checkmk
/plugins/modules/service_group.py @lgetwan
/roles/agent/tasks/Windows.yml @Max-checkmk
/roles/agent/vars/Windows.yml @Max-checkmk
/roles/agent/tasks/Win32NT.yml @Max-checkmk

Add stable_cme to the integration tests, again.
  .github/workflows/ans-int-test-site.yaml
  tests/integration/targets/site/vars/main.yml
Owners: @robin-checkmk

Reduce sites for testing.
  .github/workflows/ans-int-test-site.yaml
  tests/integration/targets/site/vars/main.yml
Owners: @robin-checkmk

Removed debugging calls from site module.
  plugins/modules/site.py
Owners: @lgetwan

Trying top handle the changes that came with werk #16466.
  plugins/modules/discovery.py
Owners: @Max-checkmk

ongoing...
  plugins/modules/discovery.py
Owners: @Max-checkmk

Update release.sh for Checkmk 2.4.0.
  scripts/release.sh
Owners: @robin-checkmk

Prepare release.
  SUPPORT.md
  changelogs/fragments/server.yml
  galaxy.yml
Owners: @robin-checkmk

Add release summary.
  changelogs/fragments/release_summary.yml
Owners: @robin-checkmk

This was kind of a rewrite to be able to handle the different versions of the REST API better.
  plugins/module_utils/api.py
  plugins/module_utils/discovery.py
  plugins/module_utils/discovery_210.py
  plugins/module_utils/discovery_220.py
  plugins/module_utils/discovery_230.py
  plugins/module_utils/discovery_240.py
  plugins/module_utils/types.py
  plugins/modules/discovery.py
Owners: @lgetwan, @Max-checkmk

Sanity
  plugins/module_utils/discovery.py
  plugins/module_utils/discovery_210.py
  plugins/module_utils/discovery_220.py
  plugins/module_utils/discovery_230.py
  plugins/module_utils/discovery_240.py
  plugins/modules/discovery.py
Owners: @lgetwan, @Max-checkmk

More sanity.
  plugins/module_utils/discovery.py
Owners: @lgetwan

More sanity, all over the place.
  plugins/module_utils/api.py
  plugins/module_utils/types.py
Owners: @lgetwan

Update Docs and Changelogs upon Release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.6.0/release_summary.yml
  changelogs/archive/5.6.0/server.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/agent_role.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/checkmk_inventory.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/server_role.rst
  docs/service_group_module.rst
  docs/site_lookup.rst
  docs/site_module.rst
  docs/sites_lookup.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Owners: @robin-checkmk

ongoing...
  plugins/module_utils/discovery_210.py
  plugins/module_utils/discovery_220.py
  plugins/module_utils/discovery_230.py
  plugins/module_utils/discovery_240.py
  plugins/modules/discovery.py
Owners: @lgetwan, @Max-checkmk

Changed the integration tests to match the new error messages.
  tests/integration/targets/discovery/tasks/test.yml
Owners: @robin-checkmk

Integration tests.
  plugins/module_utils/discovery_210.py
  plugins/module_utils/discovery_220.py
  plugins/module_utils/discovery_230.py
  plugins/module_utils/discovery_240.py
Owners: @lgetwan

Cosmetics in testing
  tests/integration/targets/discovery/tasks/test.yml
Owners: @robin-checkmk

Cosmetics in testing
  tests/integration/targets/discovery/tasks/test.yml
Owners: @robin-checkmk

Cosmetics in testing
  tests/integration/targets/discovery/tasks/test.yml
Owners: @robin-checkmk

ongoing...
  plugins/module_utils/discovery_240.py
Owners: @lgetwan

ongoing...
  plugins/module_utils/discovery_230.py
  plugins/module_utils/discovery_240.py
Owners: @lgetwan

Updated the examples.
  plugins/modules/discovery.py
Owners: @Max-checkmk

Implemented msekania's suggestions.
  plugins/module_utils/discovery.py
  plugins/module_utils/discovery_230.py
  plugins/module_utils/discovery_240.py
  plugins/modules/discovery.py
Owners: @lgetwan, @Max-checkmk

fix also for 2.2.0 and 2.1.0
  plugins/module_utils/discovery_210.py
  plugins/module_utils/discovery_220.py
  plugins/modules/discovery.py
Owners: @lgetwan, @Max-checkmk

Bugfix.
  .github/workflows/ans-int-test-bakery.yaml
Owners: @robin-checkmk

shell-quote agent password during registration
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/Win32NT.yml
Owners: @robin-checkmk, @Max-checkmk

Remove 2.1.0 Molecule tests and add 2.4.0.
  .github/workflows/molecule-role-agent.yaml
  .github/workflows/molecule-role-server.yaml
  roles/agent/molecule/2.4.0/converge.yml
  roles/agent/molecule/2.4.0/group_vars/all.yml
  roles/agent/molecule/2.4.0/molecule.yml
  roles/agent/molecule/2.4.0/verify.yml
  roles/server/molecule/2.4.0/converge.yml
  roles/server/molecule/2.4.0/group_vars/all.yml
  roles/server/molecule/2.4.0/molecule.yml
  roles/server/molecule/2.4.0/verify.yml
Owners: @robin-checkmk

Remove provisioning of secrets for Github Actions.
  .github/workflows/ans-int-test-activation.yaml
  .github/workflows/ans-int-test-bakery.yaml
  .github/workflows/ans-int-test-contact_group.yaml
  .github/workflows/ans-int-test-discovery.yaml
  .github/workflows/ans-int-test-downtime.yaml
  .github/workflows/ans-int-test-folder.yaml
  .github/workflows/ans-int-test-host.yaml
  .github/workflows/ans-int-test-host_group.yaml
  .github/workflows/ans-int-test-lkp-bakery.yaml
  .github/workflows/ans-int-test-lkp-folder.yaml
  .github/workflows/ans-int-test-lkp-folders.yaml
  .github/workflows/ans-int-test-lkp-host.yaml
  .github/workflows/ans-int-test-lkp-hosts.yaml
  .github/workflows/ans-int-test-lkp-rules.yaml
  .github/workflows/ans-int-test-lkp-rulesets.yaml
  .github/workflows/ans-int-test-lkp-site.yaml
  .github/workflows/ans-int-test-lkp-sites.yaml
  .github/workflows/ans-int-test-lkp-version.yaml
  .github/workflows/ans-int-test-password.yaml
  .github/workflows/ans-int-test-rule.yaml
  .github/workflows/ans-int-test-service_group.yaml
  .github/workflows/ans-int-test-site.yaml
  .github/workflows/ans-int-test-tag_group.yaml
  .github/workflows/ans-int-test-timeperiod.yaml
  .github/workflows/ans-int-test-user.yaml
  .github/workflows/molecule-role-agent.yaml
  .github/workflows/molecule-role-server.yaml
Owners: @robin-checkmk

Clean up obsolete include file.
  tests/integration/files/includes/tasks/prep.yml
Owners: @robin-checkmk

Move Checkmk version for 2.4.0 from daily build to beta release.
  roles/agent/molecule/2.4.0/group_vars/all.yml
  roles/server/molecule/2.4.0/group_vars/all.yml
  scripts/release.sh
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/bakery/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/lookup_bakery/vars/main.yml
  tests/integration/targets/lookup_folder/vars/main.yml
  tests/integration/targets/lookup_folders/vars/main.yml
  tests/integration/targets/lookup_host/vars/main.yml
  tests/integration/targets/lookup_hosts/vars/main.yml
  tests/integration/targets/lookup_rules/vars/main.yml
  tests/integration/targets/lookup_rulesets/vars/main.yml
  tests/integration/targets/lookup_site/vars/main.yml
  tests/integration/targets/lookup_sites/vars/main.yml
  tests/integration/targets/lookup_version/vars/main.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/site/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/timeperiod/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Owners: @robin-checkmk

Add possibility to provide URL/URI download timeout
  roles/agent/tasks/Linux-files.yml
  roles/agent/tasks/Linux.yml
  roles/agent/tasks/Win32NT-files.yml
Owners: @robin-checkmk

Update README
  roles/agent/README.md
Owners: @robin-checkmk

Remove obsolete Ubuntu version from tests.
  roles/server/molecule/2.4.0/molecule.yml
Owners: @robin-checkmk

Update checkmk_agent_download_timeout documentation
  roles/agent/README.md
  roles/agent/defaults/main.yml
Owners: @robin-checkmk

Add changelog.
  changelogs/fragments/agent.yml
Owners: @robin-checkmk

Prepare release.
  SUPPORT.md
  galaxy.yml
Owners: @robin-checkmk

Add release summary.
  changelogs/fragments/release_summary.yml
Owners: @robin-checkmk

Update Docs and Changelogs upon Release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.7.0/agent.yml
  changelogs/archive/5.7.0/release_summary.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/agent_role.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/checkmk_inventory.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/server_role.rst
  docs/service_group_module.rst
  docs/site_lookup.rst
  docs/site_module.rst
  docs/sites_lookup.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Owners: @robin-checkmk

Make gpg key download url configurable
  roles/server/tasks/main.yml
  roles/server/vars/main.yml
Owners: @robin-checkmk

Add aux_tags suboption for tags in tag_group module
  plugins/modules/tag_group.py
Owners: @Max-checkmk
