Repository Checkmk/ansible-collection-checkmk.general, changes with the owners that CODEOWNERS names for each.
All owners: @robin-checkmk, @lgetwan, @Max-checkmk

Update import tls secret task name
  roles/agent/tasks/Linux.yml
Owners: @robin-checkmk

Update agent readme documentation to explain tls proxy registration
  roles/agent/README.md
Owners: @robin-checkmk

Replace shell pipe with file to import tls secret
  roles/agent/tasks/Linux.yml
Owners: @robin-checkmk

Update temporary path to delete import file
  roles/agent/tasks/Linux.yml
Owners: @robin-checkmk

Rename proxy registration storage variable
  roles/agent/tasks/Linux.yml
Owners: @robin-checkmk

Cleanup proxy registration
  roles/agent/tasks/Linux.yml
Owners: @robin-checkmk

Final touches to docs and wording.
  roles/agent/README.md
  roles/agent/tasks/Linux.yml
Owners: @robin-checkmk

docs: added info how to use params server_url & site
  README.md
  plugins/doc_fragments/common.py
Owners: @robin-checkmk

Rename tasks editorially
  roles/agent/tasks/Linux.yml
Owners: @robin-checkmk

docs: fix terminology on sites
  plugins/doc_fragments/common.py
Owners: @robin-checkmk

Make ansible-lint install requirements.
  .ansible-lint
Owners: @robin-checkmk

Add beta CRE site to tests.
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/bakery/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/lookup_bakery/vars/main.yml
  tests/integration/targets/lookup_folder/vars/main.yml
  tests/integration/targets/lookup_folders/vars/main.yml
  tests/integration/targets/lookup_host/vars/main.yml
  tests/integration/targets/lookup_hosts/vars/main.yml
  tests/integration/targets/lookup_rules/vars/main.yml
  tests/integration/targets/lookup_rulesets/vars/main.yml
  tests/integration/targets/lookup_site/vars/main.yml
  tests/integration/targets/lookup_sites/vars/main.yml
  tests/integration/targets/lookup_version/vars/main.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/site/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/timeperiod/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Owners: @robin-checkmk

Test github workflow.
  .github/workflows/ans-int-test-activation.yaml
Owners: @robin-checkmk

Bugfix missing port.
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/lookup_folder/vars/main.yml
  tests/integration/targets/lookup_folders/vars/main.yml
  tests/integration/targets/lookup_host/vars/main.yml
  tests/integration/targets/lookup_hosts/vars/main.yml
  tests/integration/targets/lookup_rules/vars/main.yml
  tests/integration/targets/lookup_rulesets/vars/main.yml
  tests/integration/targets/lookup_site/vars/main.yml
  tests/integration/targets/lookup_sites/vars/main.yml
  tests/integration/targets/lookup_version/vars/main.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/timeperiod/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Owners: @robin-checkmk

Update workflows.
  .github/workflows/ans-int-test-bakery.yaml
  .github/workflows/ans-int-test-contact_group.yaml
  .github/workflows/ans-int-test-discovery.yaml
  .github/workflows/ans-int-test-downtime.yaml
  .github/workflows/ans-int-test-folder.yaml
  .github/workflows/ans-int-test-host.yaml
  .github/workflows/ans-int-test-host_group.yaml
  .github/workflows/ans-int-test-lkp-bakery.yaml
  .github/workflows/ans-int-test-lkp-folder.yaml
  .github/workflows/ans-int-test-lkp-folders.yaml
  .github/workflows/ans-int-test-lkp-host.yaml
  .github/workflows/ans-int-test-lkp-hosts.yaml
  .github/workflows/ans-int-test-lkp-rules.yaml
  .github/workflows/ans-int-test-lkp-rulesets.yaml
  .github/workflows/ans-int-test-lkp-site.yaml
  .github/workflows/ans-int-test-lkp-sites.yaml
  .github/workflows/ans-int-test-lkp-version.yaml
  .github/workflows/ans-int-test-password.yaml
  .github/workflows/ans-int-test-rule.yaml
  .github/workflows/ans-int-test-service_group.yaml
  .github/workflows/ans-int-test-tag_group.yaml
  .github/workflows/ans-int-test-timeperiod.yaml
  .github/workflows/ans-int-test-user.yaml
Owners: @robin-checkmk

Bakery is not present in CRE.
  tests/integration/targets/bakery/vars/main.yml
  tests/integration/targets/lookup_bakery/vars/main.yml
Owners: @robin-checkmk

Try to fix discovery tests conditionals.
  tests/integration/targets/discovery/tasks/test.yml
Owners: @robin-checkmk

Bugfix workflow files.
  .github/workflows/ans-int-test-contact_group.yaml
  .github/workflows/ans-int-test-discovery.yaml
  .github/workflows/ans-int-test-downtime.yaml
  .github/workflows/ans-int-test-folder.yaml
  .github/workflows/ans-int-test-host.yaml
  .github/workflows/ans-int-test-host_group.yaml
  .github/workflows/ans-int-test-lkp-bakery.yaml
  .github/workflows/ans-int-test-lkp-folder.yaml
  .github/workflows/ans-int-test-lkp-folders.yaml
  .github/workflows/ans-int-test-lkp-host.yaml
  .github/workflows/ans-int-test-lkp-hosts.yaml
  .github/workflows/ans-int-test-lkp-rules.yaml
  .github/workflows/ans-int-test-lkp-rulesets.yaml
  .github/workflows/ans-int-test-lkp-version.yaml
  .github/workflows/ans-int-test-password.yaml
  .github/workflows/ans-int-test-rule.yaml
  .github/workflows/ans-int-test-service_group.yaml
  .github/workflows/ans-int-test-tag_group.yaml
  .github/workflows/ans-int-test-timeperiod.yaml
  .github/workflows/ans-int-test-user.yaml
Owners: @robin-checkmk

Bugfix Checkmk versions.
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/bakery/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/lookup_bakery/vars/main.yml
  tests/integration/targets/lookup_folder/vars/main.yml
  tests/integration/targets/lookup_folders/vars/main.yml
  tests/integration/targets/lookup_host/vars/main.yml
  tests/integration/targets/lookup_hosts/vars/main.yml
  tests/integration/targets/lookup_rules/vars/main.yml
  tests/integration/targets/lookup_rulesets/vars/main.yml
  tests/integration/targets/lookup_site/vars/main.yml
  tests/integration/targets/lookup_sites/vars/main.yml
  tests/integration/targets/lookup_version/vars/main.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/timeperiod/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Owners: @robin-checkmk

Add rules file for 2.4.0.
  tests/integration/targets/rule/vars/2.4.0.yml
Owners: @robin-checkmk

Prepare release.
  SUPPORT.md
  galaxy.yml
Owners: @robin-checkmk

Troubleshooting.
  .github/workflows/ans-int-test-site.yaml
  tests/integration/targets/site/vars/main.yml
Owners: @robin-checkmk

Troubleshooting.
  .github/workflows/ans-int-test-site.yaml
  tests/integration/targets/site/vars/main.yml
Owners: @robin-checkmk

Remove references to internal variables.
  roles/agent/meta/argument_specs.yml
Owners: @robin-checkmk

Fix remote site container names.
  .github/workflows/ans-int-test-site.yaml
  tests/integration/targets/site/vars/main.yml
Owners: @robin-checkmk

Fix container images.
  .github/workflows/ans-int-test-activation.yaml
  .github/workflows/ans-int-test-bakery.yaml
  .github/workflows/ans-int-test-contact_group.yaml
  .github/workflows/ans-int-test-discovery.yaml
  .github/workflows/ans-int-test-downtime.yaml
  .github/workflows/ans-int-test-folder.yaml
  .github/workflows/ans-int-test-host.yaml
  .github/workflows/ans-int-test-host_group.yaml
  .github/workflows/ans-int-test-lkp-bakery.yaml
  .github/workflows/ans-int-test-lkp-folder.yaml
  .github/workflows/ans-int-test-lkp-folders.yaml
  .github/workflows/ans-int-test-lkp-host.yaml
  .github/workflows/ans-int-test-lkp-hosts.yaml
  .github/workflows/ans-int-test-lkp-rules.yaml
  .github/workflows/ans-int-test-lkp-rulesets.yaml
  .github/workflows/ans-int-test-lkp-site.yaml
  .github/workflows/ans-int-test-lkp-sites.yaml
  .github/workflows/ans-int-test-lkp-version.yaml
  .github/workflows/ans-int-test-password.yaml
  .github/workflows/ans-int-test-rule.yaml
  .github/workflows/ans-int-test-service_group.yaml
  .github/workflows/ans-int-test-site.yaml
  .github/workflows/ans-int-test-tag_group.yaml
  .github/workflows/ans-int-test-timeperiod.yaml
  .github/workflows/ans-int-test-user.yaml
Owners: @robin-checkmk

Update condition for 2.4.0 and make `no_log: true`.
  tests/integration/targets/password/tasks/test.yml
Owners: @robin-checkmk

Cleanup Checkmk Version Bump.
  roles/agent/meta/argument_specs.yml
  roles/server/meta/argument_specs.yml
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/bakery/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/lookup_bakery/vars/main.yml
  tests/integration/targets/lookup_folder/vars/main.yml
  tests/integration/targets/lookup_folders/vars/main.yml
  tests/integration/targets/lookup_host/vars/main.yml
  tests/integration/targets/lookup_hosts/vars/main.yml
  tests/integration/targets/lookup_rules/vars/main.yml
  tests/integration/targets/lookup_rulesets/vars/main.yml
  tests/integration/targets/lookup_site/vars/main.yml
  tests/integration/targets/lookup_sites/vars/main.yml
  tests/integration/targets/lookup_version/vars/main.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/site/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/timeperiod/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Owners: @robin-checkmk

Fix missing remote site. And typos.
  .github/workflows/ans-int-test-site.yaml
  tests/integration/targets/site/vars/main.yml
Owners: @robin-checkmk

Add changelogs.
  changelogs/fragments/agent.yml
  changelogs/fragments/release_summary.yml
Owners: @robin-checkmk

Update Docs and Changelogs upon Release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.4.0/agent.yml
  changelogs/archive/5.4.0/release_summary.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/agent_role.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/checkmk_inventory.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/environment_variables.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/server_role.rst
  docs/service_group_module.rst
  docs/site_lookup.rst
  docs/site_module.rst
  docs/sites_lookup.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Owners: @robin-checkmk

Fix conditional for password module.
  tests/integration/targets/password/tasks/test.yml
Owners: @robin-checkmk

Exclude 2.4.0 for debugging.
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Owners: @robin-checkmk

Fix activation issue.
  tests/integration/targets/downtime/tasks/test.yml
Owners: @robin-checkmk

Switch Checkmk version order around.
  tests/integration/targets/activation/vars/main.yml
  tests/integration/targets/bakery/vars/main.yml
  tests/integration/targets/contact_group/vars/main.yml
  tests/integration/targets/discovery/vars/main.yml
  tests/integration/targets/downtime/tasks/test.yml
  tests/integration/targets/downtime/vars/main.yml
  tests/integration/targets/folder/vars/main.yml
  tests/integration/targets/host/vars/main.yml
  tests/integration/targets/host_group/vars/main.yml
  tests/integration/targets/lookup_bakery/vars/main.yml
  tests/integration/targets/lookup_folder/vars/main.yml
  tests/integration/targets/lookup_folders/vars/main.yml
  tests/integration/targets/lookup_host/vars/main.yml
  tests/integration/targets/lookup_hosts/vars/main.yml
  tests/integration/targets/lookup_rules/vars/main.yml
  tests/integration/targets/lookup_rulesets/vars/main.yml
  tests/integration/targets/lookup_site/vars/main.yml
  tests/integration/targets/lookup_sites/vars/main.yml
  tests/integration/targets/lookup_version/vars/main.yml
  tests/integration/targets/password/vars/main.yml
  tests/integration/targets/rule/vars/main.yml
  tests/integration/targets/service_group/vars/main.yml
  tests/integration/targets/site/vars/main.yml
  tests/integration/targets/tag_group/vars/main.yml
  tests/integration/targets/timeperiod/vars/main.yml
  tests/integration/targets/user/vars/main.yml
Owners: @robin-checkmk

Make discovery module great again.
  plugins/modules/discovery.py
Owners: @Max-checkmk

Sanity & QA
  plugins/modules/discovery.py
Owners: @Max-checkmk

Sanity & QA, Part 2
  plugins/modules/discovery.py
Owners: @Max-checkmk

Sanity & QA, Part 3
  plugins/modules/discovery.py
Owners: @Max-checkmk

Make site module 2.4.0 ready.
  plugins/doc_fragments/site_options.py
  plugins/module_utils/site.py
  plugins/modules/site.py
Owners: @robin-checkmk, @lgetwan

CODEOWNERS:

* @robin-checkmk
*.md @robin-checkmk
/plugins/ @lgetwan
/plugins/doc_fragments/ @robin-checkmk
/plugins/lookup/ @lgetwan
/plugins/lookup/bakery.py @Max-checkmk
/plugins/module_utils/ @lgetwan
/plugins/modules/ @lgetwan
/plugins/modules/bakery.py @Max-checkmk
/plugins/modules/contact_group.py @lgetwan
/plugins/modules/discovery.py @Max-checkmk
/plugins/modules/host_group.py @lgetwan
/plugins/modules/tag_group.py @Max-checkmk
/plugins/modules/timeperiod.py @Max-checkmk
/plugins/modules/password.py @Max-checkmk
/plugins/modules/service_group.py @lgetwan
/roles/agent/tasks/Windows.yml @Max-checkmk
/roles/agent/vars/Windows.yml @Max-checkmk
/roles/agent/tasks/Win32NT.yml @Max-checkmk
