Repository Checkmk/ansible-collection-checkmk.general, changes with the owners that CODEOWNERS names for each.
All owners: @robin-checkmk, @lgetwan, @Max-checkmk

Add changelog fragment
  changelogs/fragments/tag_group.yml
Owners: @robin-checkmk

Add changelog fragment
  changelogs/fragments/release_summary.yml
Owners: @robin-checkmk

Update changelog fragment
  changelogs/fragments/tag_group.yml
Owners: @robin-checkmk

Update tag_group.py - fix aux_tags declaration
  plugins/modules/tag_group.py
Owners: @Max-checkmk

Update tag_group.py - fix documentation
  plugins/modules/tag_group.py
Owners: @Max-checkmk

Prepare release.
  SUPPORT.md
  galaxy.yml
Owners: @robin-checkmk

Add redirect to activation tasks for user module.
  tests/integration/targets/user/tasks/test.yml
Owners: @robin-checkmk

Add changelogs.
  changelogs/fragments/2.4.0.yml
  changelogs/fragments/release_summary.yml
Owners: @robin-checkmk

Update .gitignore.
  .gitignore
Owners: @robin-checkmk

Add workaround for activation.
  tests/integration/targets/user/tasks/test.yml
Owners: @robin-checkmk

Add changelog.
  changelogs/fragments/gpg.yml
Owners: @robin-checkmk

WIP: Rework firewall management.
  roles/agent/README.md
  roles/agent/defaults/main.yml
  roles/agent/meta/argument_specs.yml
  roles/agent/molecule/2.2.0/group_vars/all.yml
  roles/agent/molecule/2.3.0/group_vars/all.yml
  roles/agent/molecule/2.4.0/group_vars/all.yml
  roles/agent/tasks/Debian.yml
  roles/agent/tasks/RedHat.yml
  roles/agent/tasks/Suse.yml
Owners: @robin-checkmk

Fix typo in rules lookup module.
  plugins/lookup/rules.py
Owners: @lgetwan

Fix wait task.
  tests/integration/targets/downtime/tasks/test.yml
Owners: @robin-checkmk

Remove probably unnecessary wait task.
  tests/integration/targets/user/tasks/test.yml
Owners: @robin-checkmk

Update README.md
  roles/agent/README.md
Owners: @robin-checkmk

Update `cmkadmin` attributes for testing.
  tests/integration/targets/user/vars/main.yml
Owners: @robin-checkmk

User role: No longer allow to change the user that is used for API authorization.
  changelogs/fragments/user.yml
  plugins/modules/user.py
Owners: @robin-checkmk, @lgetwan

Adapted the tests.
  tests/integration/targets/user/tasks/test.yml
  tests/integration/targets/user/vars/main.yml
Owners: @robin-checkmk

minor modifications.
  changelogs/fragments/user.yml
  plugins/modules/user.py
Owners: @robin-checkmk, @lgetwan

QA
  plugins/modules/user.py
Owners: @lgetwan

Adapted the integration test.
  tests/integration/targets/user/tasks/test.yml
Owners: @robin-checkmk

User role: No longer changing change the user that is used for API authorization. (#758)
  changelogs/fragments/user.yml
  plugins/modules/user.py
  tests/integration/targets/user/tasks/test.yml
  tests/integration/targets/user/vars/main.yml
Owners: @robin-checkmk, @lgetwan

Fixes example user creation request
  docs/user_module.rst
Owners: @robin-checkmk

Update Docs and Changelogs upon Release
  CHANGELOG.rst
  changelogs/.plugin-cache.yaml
  changelogs/archive/5.8.0/2.4.0.yml
  changelogs/archive/5.8.0/gpg.yml
  changelogs/archive/5.8.0/release_summary.yml
  changelogs/archive/5.8.0/user.yml
  changelogs/changelog.yaml
  docs/activation_module.rst
  docs/agent_role.rst
  docs/bakery_lookup.rst
  docs/bakery_module.rst
  docs/checkmk_inventory.rst
  docs/contact_group_module.rst
  docs/discovery_module.rst
  docs/downtime_module.rst
  docs/folder_lookup.rst
  docs/folder_module.rst
  docs/folders_lookup.rst
  docs/host_group_module.rst
  docs/host_lookup.rst
  docs/host_module.rst
  docs/hosts_lookup.rst
  docs/index.rst
  docs/password_module.rst
  docs/rule_lookup.rst
  docs/rule_module.rst
  docs/rules_lookup.rst
  docs/ruleset_lookup.rst
  docs/rulesets_lookup.rst
  docs/server_role.rst
  docs/service_group_module.rst
  docs/site_lookup.rst
  docs/site_module.rst
  docs/sites_lookup.rst
  docs/tag_group_module.rst
  docs/timeperiod_module.rst
  docs/user_module.rst
  docs/version_lookup.rst
Owners: @robin-checkmk

Add integration tests for tag_groups with aux_tags
  tests/integration/targets/tag_group/tasks/test.yml
  tests/integration/targets/tag_group/vars/main.yml
Owners: @robin-checkmk

Fix integration tests errors
  tests/integration/targets/tag_group/tasks/test.yml
  tests/integration/targets/tag_group/vars/main.yml
Owners: @robin-checkmk

Fix integration tests errors
  tests/integration/targets/tag_group/tasks/test.yml
Owners: @robin-checkmk

Fix integration tests errors
  tests/integration/targets/tag_group/tasks/test.yml
Owners: @robin-checkmk

Fix conditionals.
  tests/integration/targets/lookup_bakery/tasks/test.yml
Owners: @robin-checkmk

Fix list objects.
  tests/integration/targets/timeperiod/vars/main.yml
Owners: @robin-checkmk

Add virtiofsd as a dependency for Vagrant.
  Makefile
Owners: @robin-checkmk

Initial step towards using `uv` for local development.
  .envrc
  Vagrantfile
  pyproject.toml
Owners: @robin-checkmk

Move collection box to Debian 12 and replace docker with podman.
  Vagrantfile
Owners: @robin-checkmk

Re-enable local testing for integration tests.
  tests/integration/targets/activation/tasks/main.yml
  tests/integration/targets/bakery/tasks/main.yml
  tests/integration/targets/contact_group/tasks/main.yml
  tests/integration/targets/discovery/tasks/main.yml
  tests/integration/targets/downtime/tasks/main.yml
  tests/integration/targets/folder/tasks/main.yml
  tests/integration/targets/host/tasks/main.yml
  tests/integration/targets/host_group/tasks/main.yml
  tests/integration/targets/lookup_bakery/tasks/main.yml
  tests/integration/targets/lookup_folder/tasks/main.yml
  tests/integration/targets/lookup_folders/tasks/main.yml
  tests/integration/targets/lookup_host/tasks/main.yml
  tests/integration/targets/lookup_hosts/tasks/main.yml
  tests/integration/targets/lookup_rules/tasks/main.yml
  tests/integration/targets/lookup_rulesets/tasks/main.yml
  tests/integration/targets/lookup_site/tasks/main.yml
  tests/integration/targets/lookup_sites/tasks/main.yml
  tests/integration/targets/lookup_version/tasks/main.yml
  tests/integration/targets/password/tasks/main.yml
  tests/integration/targets/rule/tasks/main.yml
  tests/integration/targets/service_group/tasks/main.yml
  tests/integration/targets/site/tasks/main.yml
  tests/integration/targets/site/vars/main.yml
  tests/integration/targets/tag_group/tasks/main.yml
  tests/integration/targets/timeperiod/tasks/main.yml
  tests/integration/targets/timeperiod/vars/main.yml
  tests/integration/targets/user/tasks/main.yml
Owners: @robin-checkmk

Try to re-enable local integration tests.
  tests/integration/files/includes/tasks/prep.yml
  tests/integration/targets/activation/tasks/main.yml
Owners: @robin-checkmk

Finalize dependent preparation for tests.
  tests/integration/files/includes/tasks/prep.yml
  tests/integration/targets/activation/tasks/main.yml
  tests/integration/targets/bakery/tasks/main.yml
  tests/integration/targets/contact_group/tasks/main.yml
  tests/integration/targets/discovery/tasks/main.yml
  tests/integration/targets/downtime/tasks/main.yml
  tests/integration/targets/folder/tasks/main.yml
  tests/integration/targets/host/tasks/main.yml
  tests/integration/targets/host_group/tasks/main.yml
  tests/integration/targets/lookup_bakery/tasks/main.yml
  tests/integration/targets/lookup_folder/tasks/main.yml
  tests/integration/targets/lookup_folders/tasks/main.yml
  tests/integration/targets/lookup_host/tasks/main.yml
  tests/integration/targets/lookup_hosts/tasks/main.yml
  tests/integration/targets/lookup_rules/tasks/main.yml
  tests/integration/targets/lookup_rulesets/tasks/main.yml
  tests/integration/targets/lookup_site/tasks/main.yml
  tests/integration/targets/lookup_sites/tasks/main.yml
  tests/integration/targets/lookup_version/tasks/main.yml
  tests/integration/targets/password/tasks/main.yml
  tests/integration/targets/rule/tasks/main.yml
  tests/integration/targets/service_group/tasks/main.yml
  tests/integration/targets/site/tasks/main.yml
  tests/integration/targets/tag_group/tasks/main.yml
  tests/integration/targets/timeperiod/tasks/main.yml
  tests/integration/targets/user/tasks/main.yml
Owners: @robin-checkmk

Add `uv.lock` to .gitignore.
  .gitignore
Owners: @robin-checkmk

Fix dependent preparation for tests.
  tests/integration/files/includes/tasks/prep.yml
  tests/integration/targets/activation/tasks/main.yml
  tests/integration/targets/bakery/tasks/main.yml
  tests/integration/targets/contact_group/tasks/main.yml
  tests/integration/targets/discovery/tasks/main.yml
  tests/integration/targets/downtime/tasks/main.yml
  tests/integration/targets/folder/tasks/main.yml
  tests/integration/targets/host/tasks/main.yml
  tests/integration/targets/host_group/tasks/main.yml
  tests/integration/targets/lookup_bakery/tasks/main.yml
  tests/integration/targets/lookup_folder/tasks/main.yml
  tests/integration/targets/lookup_folders/tasks/main.yml
  tests/integration/targets/lookup_host/tasks/main.yml
  tests/integration/targets/lookup_hosts/tasks/main.yml
  tests/integration/targets/lookup_rules/tasks/main.yml
  tests/integration/targets/lookup_rulesets/tasks/main.yml
  tests/integration/targets/lookup_site/tasks/main.yml
  tests/integration/targets/lookup_sites/tasks/main.yml
  tests/integration/targets/lookup_version/tasks/main.yml
  tests/integration/targets/password/tasks/main.yml
  tests/integration/targets/rule/tasks/main.yml
  tests/integration/targets/service_group/tasks/main.yml
  tests/integration/targets/site/tasks/main.yml
  tests/integration/targets/tag_group/tasks/main.yml
  tests/integration/targets/timeperiod/tasks/main.yml
  tests/integration/targets/user/tasks/main.yml
Owners: @robin-checkmk

Follow up on #762 and fix Makefile.
  Makefile
Owners: @robin-checkmk

CODEOWNERS:

* @robin-checkmk
*.md @robin-checkmk
/plugins/ @lgetwan
/plugins/doc_fragments/ @robin-checkmk
/plugins/lookup/ @lgetwan
/plugins/lookup/bakery.py @Max-checkmk
/plugins/module_utils/ @lgetwan
/plugins/modules/ @lgetwan
/plugins/modules/bakery.py @Max-checkmk
/plugins/modules/contact_group.py @lgetwan
/plugins/modules/discovery.py @Max-checkmk
/plugins/modules/host_group.py @lgetwan
/plugins/modules/tag_group.py @Max-checkmk
/plugins/modules/timeperiod.py @Max-checkmk
/plugins/modules/password.py @Max-checkmk
/plugins/modules/service_group.py @lgetwan
/roles/agent/tasks/Windows.yml @Max-checkmk
/roles/agent/vars/Windows.yml @Max-checkmk
/roles/agent/tasks/Win32NT.yml @Max-checkmk
